#chat {
	bottom: 0;
	position: fixed;
	z-index: 2000;
	_position: absolute;
    _top: expression(eval(document.documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)));
	right: 0;
    height: 100%;
    width: 100%;
	display: none;
    pointer-events: none;
}

#chat .chatbar-element {
	float: right;
	border: 1px solid #ccc;
	border-bottom: 0px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	font-size: 12px;
	background-color: #f3f3f3;
	text-align: center;
	margin-left: 3px;
}
	#chat .chatbar-element:hover {
		cursor: pointer;
		background-color: #f8f8f8;
	}
	
#chat #contacts {
	width: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    pointer-events: auto;
}
	#chat #contacts img {
		display: block;
		float: left;
		margin-top: 6px;
	}
    #chat #contacts #contacts-online {
        display: none;
    }
	
#chat .status {
	font-weight: bold;
	color: #999;
	font-size: 28px;
}
	#chat .status.online {
		color: #04cdff;
	}
	
#chat #contact-list {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 600px;
	position: absolute;
	bottom: 30px;
	right: 0px;
	width: 220px;
	border: 1px solid #ccc;
	border-bottom: 0px;
	background-color: #f9f9f9;
	display: none;
    pointer-events: auto;
}
	#chat #contact-list .contact {
		border-bottom: 1px solid #eee;
		font-size: 12px;
		line-height: 30px;
		padding-left: 30px;
		cursor: pointer;
	}
	#chat #contact-list .contact:hover {
		background-color: #fff;
	}
	#chat #contact-list .chat-avatar {
		position: absolute;
		left: 5px;
		margin-top: 5px;
	}
	#chat #contact-list .status {
		position: absolute;
        left: 92%;
		margin-top: -2px;
	}
    #chat #contact-list .conversation-blink {
        background-color: #e2e2e2;
    }
	
#chat .chat-avatar {
	height: 20px;
	display: block;
	width: 20px;
	border-radius: 2px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 0px;
}
	#chat .chat-avatar img {
		width: 20px;
	}
    
#chat #conversations {
    position: absolute;
    bottom: 0;
    right: 225px;
    top: 0;
    left: 0;
    overflow: hidden;
}   
 
#chat .conversation-element {
	float: right;
    margin-right: 3px;
    pointer-events: auto;
}
    #chat .conversation-element.conversation-open {
        width: 250px;
        height: 314px;
    }
    #chat .conversation-element.conversation-closed {
        width: 180px;
        height: 30px;
    }
    #chat .conversation-element .messages {
		height: 240px;
		border: 1px solid #ccc;
		border-bottom: 0px;
		background-color: #fefefe;
        width: 240px;
        overflow-y: auto;
        word-wrap: break-word;
        padding: 5px;
        font-size: 13px;
    }
        #chat .conversation-element.conversation-closed .messages {
            display: none;
        }
        #chat .conversation-element.conversation-open .messages {
            display: block;
        }
        #chat .conversation-element .messages .block {
            border-top: 1px solid #eee;
            padding: 5px;
            clear: both;
        }
            #chat .conversation-element .messages .block .avatar {
                height: 40px;
                width: 40px;
                float: left;
                margin-right: 8px;
                margin-bottom: 5px;
                position: relative;
            }
                #chat .conversation-element .messages .block .avatar img {
                    max-height: 40px;
                    max-width: 40px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    cursor: pointer;
                }
            #chat .conversation-element .messages .block .block-messages {
                float: left;
                margin-bottom: 5px;
            }
    #chat .conversation-element .status-bar {
        border: 1px solid #ccc;
        line-height: 30px;
        font-weight: bold;
        font-size: 12px;
        background-color: #f3f3f3;
        text-align: center;
        margin-right: 3px;
        height: 30px;
        position: relative;
    }
        #chat .conversation-element.conversation-blink .status-bar {
            background-color: #e2e2e2;
        }
        #chat .conversation-element .status-bar:hover {
            cursor: pointer;
            background-color: #f8f8f8;
        }
        #chat .conversation-element .status-bar .status {
            position: absolute;
            width: 10px;
            height: 10px;
            left: 10px;
            bottom: 22px;
        }
        #chat .conversation-element .status-bar .close {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 10px;
            bottom: 4px;
            background-image: url('../../images/close.png');
            background-size: 20px 20px;
            opacity: 0.1;
        }
            #chat .conversation-element .status-bar .close:hover {
                opacity: 0.3;
            }
        #chat .conversation-element.conversation-closed .status-bar {
            width: 180px;
            border-bottom: 0px;
        }
        #chat .conversation-element.conversation-open .status-bar {
            width: 250px;
            border-bottom: 1px;
        }
    #chat .conversation-element .input {
		min-height: 18px;
		border: 1px solid #ccc;
		border-bottom: 0px;
		background: #fff;
        width: 238px;
        padding: 6px;
    }
        #chat .conversation-element .input .input-box {
            background: #fff;
            max-height: 100px;
            font-size: 12px;
            overflow: hidden;
        }
        #chat .conversation-element.conversation-closed .input {
            display: none;
        }
        #chat .conversation-element.conversation-open .input {
            display: block;
        }