Options +FollowSymLinks  
RewriteEngine On

#Maintenance
#RewriteBase /
#RewriteCond %{REQUEST_URI} !^/maintenance\.html$
#RewriteRule ^(.*)$ http://lan.lsucs.org.uk/maintenance.html [R=307,L]

#Admin routing
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^admin/?$ admin.php [QSA,L]
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^admin/([^/]+)/?$ admin.php?page=$1 [QSA,L]
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^admin/([^/]+)/([^/]+)/?$ admin.php?page=$1&action=$2 [QSA,L]

#Regular routing
RewriteCond $1 !=admin.php
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^([^/]+)/?$ index.php?page=$1 [QSA,L]
RewriteCond $1 !=admin.php
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^([^/]+)/([^/]+)/?$ index.php?page=$1&action=$2 [QSA,L]


ErrorDocument 404 /notfound/
