/* FOOD */
#left {
    float: left;
    width: 400px;
}

#right {
    float: right;
    width: 400px;
}
#content hr {
    width: 90%;
}

.order-button {
	margin-left: auto;
	margin-right: auto;
	width: 90px;
	display: block;
}