#onlanpic {
    height: 1182px;
    width: 900px;
    background: url(/images/onlan.png);
}

.section {
    margin-top: 50px;
}
    .section p {
        font-size: 20px;
        color: #333;
    }
#content h1 {
    font-family: tf2;
    font-size: 45px;
    color: #444;
    text-shadow: 0px 0px 2px #999;
    margin-left: 20px;
}
#content ol, #content ul {
    margin-left: 60px;
    margin-top: 0px;
}
    #content ul {
        margin-left: 95px;
    }
    #content li {
        margin-bottom: 10px;
        font-size: 18px;
        color: orange;
    }
    #content li span {
        color: #555;
    }
    
.question {
    margin-left: 75px;
    color: orange;
    font-family: tf2;
    font-size: 30px;
    text-shadow: 0px 0px 1px orange;
    margin-bottom: 50px;
}
    .question dt {
        margin-left: 40px;
        font-size: 20px;
        color: #555;
        text-shadow: 0px 0px 2px #999;
    }