#head-image {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#main-info {
    margin-top: 30px;
    height: 100px;
}
    #main-info #left {
        float: left;
    }
    #main-info #right {
        float: right;
    }
    #sign-up {
        right: 200px;
        top: 20px;
        display: none;
    }
    #message {
        color: red;
        font-weight: bold;
        width: 400px;
        text-align: center;
        margin-top: 30px;
        display: none;
    }
#description {
    clear: both;
}

#bracket, #servers, #teams {
    display: none;
}

.team {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    float: left;
    margin: 10px;
}
    .team h2 {
        margin-bottom: 10px;
    }