.tournament-header {
    height: 50px;
    width: 90%;
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 1px solid #ddd;
}
    .title {
        font-family: tf2;
        font-size: 35px;
        line-height: 50px;
        text-align: center;
        text-shadow: 0px 0px 1px #666;
    }
    .tournament-logo {
        max-height: 40px;
        max-width: 300px;
        position: absolute;
        left: 5px;
        top: 5px;
    }
        .tournament-logo img {
            max-height: 50px;
            max-width: 300px;
        }

.return {
    height: 24px;
    font-family: reznor;
    font-size: 20px;
    position: relative;
    padding-left: 40px;
    line-height: 22px;
    margin-bottom: 10px;
}
    .return span {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 24px;
        width: 33px;
        background-image: url(/images/arrow-left.png);
        opacity: 0.8;
        margin-right: 5px;
    }

#info-container {
    left: 50%;
    position: relative;
    float: left;
}
#tournament-info {
    left: -50%;
    position: relative;
    float: left;
    margin-top: 20px;
}
    .info-element {
        clear: both;
        overflow: hidden;
        margin-bottom: 5px;
        font-family: tf2;
        font-size: 19px;
        color: #444;
        text-shadow: 0px 0px 1px #999;
    }
        .info-element .info-left {
            float: left;
            width: 150px;
            font-weight: bold;
            color: #222;
        }
        .info-element .info-right {
            float: left;
            max-width: 400px;
        }
        .info-element .description {
            font-size: 15px;
        }
        
#tournament-buttons {
    text-align: center;
    margin-top: 20px;
}
        
#tournament-tabs {
    padding: 0px;
    background: none;
    border-width: 0px;
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
    #tournament-tabs .ui-tabs-nav {
        padding-left: 0px;
        background: transparent;
        border-width: 0px 0px 1px 0px;
        border-radius: 0px;
        -moz-border-radius: 0px; 
        -webkit-border-radius: 0px;
        margin-left: 0px;
    }
    #tournament-tabs .ui-tabs-panel {
        background: white;
        border-width: 0px 1px 1px 1px; 
        
    }
    #tournament-tabs li a {
        padding-left: 60px;
        padding-right: 60px;
    }
    
#tournament-tabs #teams {
    overflow: auto;
    padding: 30px;
    padding-right: 10px;
}
        #tournament-tabs #team-list .team {
            background-color: #eee;
            height: 50px;
            border-radius: 4px;
            border: 1px solid #ddd;
            line-height: 50px;
            font-family: tf2;
            text-shadow: 0px 0px 1px #999;
            font-size: 24px;
            margin-bottom: 10px;
            width: 815px;
        }
            #tournament-tabs #team-list .team:hover {
                background-color: #fbfbfb;
                cursor: pointer;
            }
            #tournament-tabs #team-list .team .signup-number {
                display: inline-block;
                width: 50px;
                text-align: center;   
            }
            #tournament-tabs #team-list .team .team-name {
                display: inline-block;
                width: 300px;
                margin-left: 50px;
            }
            #tournament-tabs #team-list .team .team-leader {
                width: 320px;
                display: inline-block;
                font-size: 19px;
            }
            #tournament-tabs #team-list .team .locked {
                width: 16px;
                height: 16px;
                background: url(/images/locked.png);
                display: inline-block;
                margin-right: 30px;
                margin-top: 16px;
            }
            
#round-robin-display {
    
}
    #round-robin-display span {
        display: inline-block;
    }
    #round-robin-display div {
        margin: 5px;
    	height: 34px;
        
    }
    #round-robin-display .header {
        font-weight: bold;
    }
    #round-robin-display .name {
        width: 200px;
    }
    #round-robin-display .position {
        width: 20px;
        text-align: center;
    }
    #round-robin-display .played {
        width: 70px;
        text-align: center;
    }
    #round-robin-display .won, #round-robin-display .lost  {
        width: 50px;
        text-align: center;
    }
    
#double-elimination-display {
    height: 800px;
}
    #double-elimination-display .round {
        float: left;
        width: 200px;
    }
    #double-elimination-display .match {
        display: block;
        margin: 20px;
        background-color: #444;
    }
    
    #double-elimination-display #losers-bracket {
        clear: both;
        margin-top: 100px;
    }
    
#matches {
    font-size: 16px;
}
    #matches h2 {
        margin-top: 10px;
    }
    #matches span {
        display: inline-block;
    }
    #matches .match {
        width: 97%;
        
        border-radius: 10px;
    	padding: 10px;
    	height: 20px;
        
        margin: 10px;
            
        background: #ffd9a8; /* Old browsers */
    	background: -moz-linear-gradient(top,  #ffd9a8 0%, #efbd88 100%); /* FF3.6+ */
    	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd9a8), color-stop(100%,#efbd88)); /* Chrome,Safari4+ */
    	background: -webkit-linear-gradient(top,  #ffd9a8 0%,#efbd88 100%); /* Chrome10+,Safari5.1+ */
    	background: -o-linear-gradient(top,  #ffd9a8 0%,#efbd88 100%); /* Opera 11.10+ */
    	background: -ms-linear-gradient(top,  #ffd9a8 0%,#efbd88 100%); /* IE10+ */
    	background: linear-gradient(to bottom,  #ffd9a8 0%,#efbd88 100%); /* W3C */
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd9a8', endColorstr='#efbd88',GradientType=0 ); /* IE6-9 */
        
    }
    
    #matches .played {
        background: #C4FFC5; /* Old browsers */
    	background: -moz-linear-gradient(top,  #C4FFC5 0%, #8EFF68 100%); /* FF3.6+ */
    	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C4FFC5), color-stop(100%,#8EFF68)); /* Chrome,Safari4+ */
    	background: -webkit-linear-gradient(top,  #C4FFC5 0%,#8EFF68 100%); /* Chrome10+,Safari5.1+ */
    	background: -o-linear-gradient(top,  #C4FFC5 0%,#8EFF68 100%); /* Opera 11.10+ */
    	background: -ms-linear-gradient(top,  #C4FFC5 0%,#8EFF68 100%); /* IE10+ */
    	background: linear-gradient(to bottom,  #C4FFC5 0%,#8EFF68 100%); /* W3C */
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C4FFC5', endColorstr='#8EFF68',GradientType=0 ); /* IE6-9 */
    }
    
    #matches .scores {
        display: inline-block;
        width: 33%;
        text-align: center;
    }
    
    #matches .score1 {
        width: 38%;
        text-align: right;
    }
    #matches .score2 {
        text-align: left;
        width: 38%;
    }
    #matches .vs {
        width: 19%;
    }
    
    
    #matches .right-player {
        display: inline-block;
        width: 32%;
    }
    
    #matches .left-player {
        display: inline-block;
        width: 32%;
    }
    
    #matches .winner {
        font-weight: bold;
    }
    
    #matches .player1 {
        float: left;
    }
    
    #matches .player2 {
        float: right;
    }
    
    #matches a:visited {
        color: #000;
    }
    
    #matches a:hover {
        color: #f1642b;
    }
    
#join-team-form {
    height: 85px !important;
}
#join-team-form form {
    text-align: center;
    margin-top: 5px;
}