#labels {
	width: 830px;
	margin-left: 70px;
	height: 50px;
}
	#labels div {
		width: 270px;
		text-align: center;
		float: left;
		font-family: reznor;
		font-size: 25px;
	}

#timetable-container {
    width: 830px;
    position: relative;
    margin-left: 70px;
}
	.timetable-day {
		position: relative;
		float: left;
		width: 270px;
		margin-right: 1px;
	}
        
.time-row {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 1px solid #ddd;
	border-left: 1px solid #999;
    border-bottom: 0;
    height: 40px;
}
    .time-row .time {
        position: absolute;
        top: 0px;
        left: -50px;
    }
#friday .time-row {
	border-left: 1px solid #ddd;
}
.bottom-row {
    border-bottom: 1px solid #ddd;
}
.invisible {
    height: 0px;
    border: 0;
}
.break {
    height: 100px;
    background-color: #FCFCFC;
    background-image: url('../../images/sleep.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-bottom: 0;
	border-left: 1px solid #999;
}
#friday .break {
	border-left: 1px solid #ddd;
}

.timetable-entry {
    position: absolute;
    left: 0;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
	color: #333;
}
	.timetable-entry:hover {
		color: #999;
	}
    .orange {
        border: 1px solid #E8963F;
        background: rgb(255, 212, 166);
        background: rgba(255, 212, 166, 0.8);
    }
    .green {
        border: 1px solid #649c21;
        background: rgb(141, 214, 51);
        background: rgba(189, 230, 140, 0.8);
    }
    .blue {
        border: 1px solid #107dc2;
        background: rgb(72, 171, 232);
        background: rgba(72, 171, 232, 0.8);
    }
    .purple {
        border: 1px solid #461791;
        background: rgb(138, 90, 214);
        background: rgba(138, 90, 214, 0.8);
    }

#time {
	height: 40px;
	background-color: rgba(255,0,0,0.2);
	width: 700px;
	margin-left: 65px;
	margin-top: 1px;
	position: absolute;
	z-index: 100;
	top: 0;
	display: none;
}


#committee-timetable {
    width: 605px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px #999;
    border-radius: 10px;
    margin-top: 40px;
}
    #committee-timetable #committee-table-head {
        height: 40px;
        line-height: 40px;
        border-radius: 10px 10px 0px 0px;
        border-bottom: 1px solid #bbb;
        background-image: url('../../images/table-head.png');
        background-repeat: repeat-x;
        font-weight: bold;
    }
    #committee-timetable #committee-table-head span {
        display: block;
        float: left;
        border-right: 1px solid #bbb;
        text-align: center;
    }
    
    #committee-timetable #committee-table-head span:last-child {
        border-right: 0;
    }
    
    #committee-timetable .committee-day {
        width: 100px;
        font-weight: bold;
    }
    #committee-timetable .committee-time {
        width: 100px;
    }
    #committee-timetable .committee-username {
        width: 200px;
		overflow: hidden;
		height: 30px;
    }
    
    #committee-timetable .entry-row {
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
        #committee-timetable .entry-row span {
            display: block;
            float: left;
            margin-right: 1px;
        }
        #committee-timetable .odd {
            background-color: #FFF8F5;
        }
        #committee-timetable .entry-row:hover {
            background-color: #FFF3ED;
        }
        #committee-timetable .selected-row {
            background-color: #FFE2D6;
        }
        #committee-timetable .end-entry {
            border-radius: 0px 0px 10px 10px;
        }
    #committee-timetable .no-entries {
        text-align: center;
        height: 30px;
        line-height: 30px;
    }
