<a style="cursor: pointer; margin-bottom: 10px; font-family: reznor; font-size: 22px; width: 280px; display: block; margin-left: auto; margin-right: auto;" onclick="window.open('http://lan.lsucs.org.uk/gamehub/popout','mywindow','width=900,height=720,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,copyhistory=yes,resizable=no')">Launch in separate window</a>