<h1>Forum Accounts</h1>
<p>
    Everyone who attends an LSUCS LAN is required to have a forum account. This serves as your account for this website and also your account for logging into the LAN internet.
    To save time upon arrival please make sure you have a forum account already. If you don't then you'll have to register at the front desk when you get here.
</p>
<p>
    All tickets you buy, even on the door, will appear in your <a href="<?=LanWebsite_Main::buildUrl(false, 'account');?>">Account Details</a> on this website.
    If you are buying tickets for other people as well as yourself, please try and assign them to their forum account before arrival to save time. This can be done through your account details.
    Tickets can only be assigned once. If you make a mistake (i.e. assign it to the wrong person) you will need to contact committee. Member tickets can only be assigned to members.
</p>
<p>
    If you are a member, you will need to make sure your forum account is upgraded to 'LSUCS Member' status. To do this, please check the information in this <a href="http://lsucs.org.uk/threads/what-do-you-post-here.5278/">thread</a>.
</p>
<hr />

<h1>Sign-In Process</h1>
<p>
    Upon arrival at the LAN you will find the front desk. Here you'll be required to either a) give your details so the committee member on duty can find your ticket(s) or b) purchase a ticket (if they are available).
    As said above, you will need a forum account at this stage, so if you don't have one you will need to register on the door.
</p>
<p>
    After your ticket has been confirmed/purchased it will be marked as 'activated' and you will be then be allowed to log into LAN internet - until your account has an activated ticket, you will not be able to access the internet.
</p>
<p>
    Once your ticket is all sorted out you will be given a LAN wristband that you are required to wear at all times when present at the event. Certain events may also have name badges and LAN handbooks for you to use.
</p>
<p>
    <b>Please Note:</b> Unlike previous years, you will NOT be allowed to put your equipment on your desk before signing in. We have made the sign in area larger to allow you to put down your belongings whilst signing in.
</p>
<hr />

<h1>Welcome Talk</h1>
<p>
    The Welcome Talk will take place on Friday at 10pm in the room under the balcony. During this time the internet will be turned off and all attendees are expected to listen.
</p>
