<div class="info-row">
    <a href="<?=LanWebsite_Main::buildUrl(false, "info", "parking")?>">
        <div class="info-element">
            <img class="info-image" src="/images/info/parking.png" />
            <div class="info-label">Location and Parking</div>
        </div>
    </a>
    <a href="<?=LanWebsite_Main::buildUrl(false, "info", "arrival")?>">
        <div class="info-element">
            <img class="info-image" src="/images/info/arrival.png" />
            <div class="info-label">Arrival Details</div>
        </div>
    </a>
    <a href="<?=LanWebsite_Main::buildUrl(false, "info", "lanvan")?>">
        <div class="info-element">
            <img id="van" class="info-image" src="/images/info/van.png" />
            <div class="info-label">LAN Van</div>
        </div>
    </a>
</div>
<div class="info-row">
    <a href="<?=LanWebsite_Main::buildUrl(false, "info", "rules")?>">
        <div class="info-element">
            <img class="info-image" src="/images/info/rules.png" />
            <div class="info-label">LAN Rules</div>
        </div>
    </a>
    <a href="<?=LanWebsite_Main::buildUrl(false, "info", "equipment")?>">
        <div class="info-element">
            <img class="info-image" src="/images/info/equipment.png" />
            <div class="info-label">What to bring</div>
        </div>
    </a>
    <a href="<?=LanWebsite_Main::buildUrl(false, "info", "sleeping")?>">
        <div class="info-element">
            <img class="info-image" src="/images/info/sleep.png" />
            <div class="info-label">Sleeping</div>
        </div>
    </a>
</div>
<div class="info-row">
    <a href="<?=LanWebsite_Main::buildUrl(false, "info", "tournamentrules")?>">
        <div class="info-element">
            <img class="info-image" src="/images/info/tournament.png" />
            <div class="info-label">Tournament Rules</div>
        </div>
    </a>
    <a href="<?=LanWebsite_Main::buildUrl(false, "map")?>">
        <div class="info-element">
            <img class="info-image" src="/images/info/map.png" />
            <div class="info-label">Live Map</div>
        </div>
    </a>
    <a href="<?=LanWebsite_Main::buildUrl(false, "info", "food")?>">
        <div class="info-element">
            <img class="info-image" src="/images/info/food.png" />
            <div class="info-label">Food and Drink</div>
        </div>
    </a>
</div>




<!--<a href="<?=LanWebsite_Main::buildUrl(false, "info", "raffle")?>">
        <div class="info-element">
            <img class="info-image" src="/images/info/raffle.png" />
            <div class="info-label">Raffle</div>
        </div>
    </a>
    <a href="<?=LanWebsite_Main::buildUrl(false, "info", "dc")?>">
        <div class="info-element">
            <img class="info-image" src="/images/info/dc.png" />
            <div class="info-label">DC++</div>
        </div>
    </a>
    <a href="<?=LanWebsite_Main::buildUrl(false, "gallery")?>">
        <div class="info-element">
            <img class="info-image" src="/images/info/gallery.png" />
            <div class="info-label">Gallery</div>
        </div>
    </a>*-->