<p>
    There are several dedicated rooms for sleeping at the LAN. These are the rooms in D block up the stairs behind the tuck shop. We will do our best to ensure that it is quiet and all the lights are out in there from 1am every night. 
</p>
<p>
    We encourage people to bring airbeds and sleeping bags so you have an enjoyable nights rest. Please, however, do not blow up your airbed at 2am inside the sleeping room/just outside the door. Inflate it and set it up before-hand so you do not disturb other people.
</p>
<p>
    Be aware you cannot sleep under your desks or in the middle of an aisle, so you are not in anyone's way. It is dangerous and there are sleeping rooms with plenty of space, so please try to head back to these to sleep. 
</p>
<p>
    <b>Please Note:</b> The upstairs of the balcony is STRICTLY off limits. You are NOT allowed to sleep up there.
</p>