<p>
    <h1>PC related:</h1>
    <ul>
        <li>Computer tower + Monitor / laptop / console + monitor(PCs MUST be secured in a case)</li>
        <li>Headset / headphones + microphone</li>
        <li>Mouse, mousemat and Keyboard (and spare batteries/charging cable if wireless!)</li>
        <li>Monitor power cable, Computer tower cable/laptop charger</li>
        <li>Tower to monitor cable (e.g. VGA, DVI, HDMI)</li>
        <li>Game CDs (with serial numbers!) + external hard drives</li>
        <li>Phone charger</li>
    </ul>
</p>

<p>
    <h1>Comfort:</h1>
    <ul>
        <li>Jumper / hoodie / something warm for night time</li>
        <li>Pillow and sleeping bag/duvet for sleeping + air bed if you are feeling luxurious</li>
        <li>Toothbrush , toothpaste and Deodorant (for everyone's benefit!)</li>
        <li>Wash kit and towel for the morning "freshen up"</li>
        <li>A change of clothes</li>
    </ul>
</p>

<p>
    <h1>Staying alive:</h1>
    <ul>
        <li>Money for pizza order/tuck shop/hotdogs</li>
        <li>A 500ml bottle for filling up with water for rehydration/plenty of other fluids</li>
        <li>Your favourite mug to stock up on tea and coffee with</li>
        <li>Easy access snacks for mid-game re-fueling like crisps, biscuits and chocolate!</li>
        <li>Breakfast bars and/or fruit for the morning "pick me up" and health</li>
        <li>Gifts and sacrifices for the committee</li>
    </ul>
</p>

<p>
    <h1>Society provided equipment:</h1>
    <ul>
        <li>Networking facilities for the whole event (including internet access)</li>
        <li>Network cables (5m long per person)</li>
        <li>A desk and chair</li>
        <li>Two plug sockets per person</li>
        <li>Hot water urn for hot drinks + well stocked tuck shop at competitive prices</li>
        <li>Fun, more fun, and prizes!</li>
    </ul>
</p>

<p>
    <h1 style="color: red;">Do not bring:</h1>
    <ul>
        <li>Speakers</li>
        <li>Any high power equipment (kettles, refrigerators, lasers)</li>
        <li>Alcohol</li>
        <li>ANY illegal substances (if found at a LAN this will result in a permanent ban)</li>
    </ul>
</p>
