<ol>
    <li><b>General</b>
        <ol><br />
            <li>The society accepts no responsibility for attendants’ personal belongings.</li>
            <li>You are not covered by insurance unless you have purchased Clubs&amp;Socs Insurance from the Union.</li>
            <li>All injuries during the event must be reported to a committee member/Organiser, regardless of severity.</li>
            <li>Make sure you have filled out your emergency contact details overleaf.</li>
            <li>Photographs and Videos are taken throughout the LAN and will be used for promotional purposes.</li>
        </ol>
    </li><br />
    <li><b>Pre-LAN</b>
        <ol><br />
            <li>Transportation
                <ol>
                    <li>Getting to and from the LAN safely is the attendee's responsibility</li>
                    <li>Note that at some LAN events there may be a 'LAN Van' service which can take up to two boxes of your equipment to the LAN providing you have contacted the committee in advance.</li>
                </ol>
            </li><br />
            <li>Equipment
                <ol>
                    <li>Attendees are expected to bring their own equipment i.e. PCs, gaming consoles</li>
                    <li>At the LAN you will be provided with 2 power sockets and 1 Ethernet cable (per ticket purchase), so don't bring more than what can be accommodated. Also see 3.2.2</li>
                    <li>The society bears no responsibility for any damaged, lost or stolen equipment (including equipment transported by committee via 'LAN Van')</li>
                    <li>Any equipment that causes concern for safety or welfare of members is prohibited</li>
                </ol>
            </li><br />
            <li>Sign-in
                <ol>
                    <li>When you first arrive at the LAN you must complete the sign in process</li>
                </ol>
            </li>
        </ol>
    </li><br />
    <li><b>At the LAN</b>
        <ol><br />
            <li>Points of contact
                <ol>
                    <li>If you have an issue at any time, bring it to the committee's attention. We run the show, we need to know</li>
                    <li>If you have any concerns or queries find a committee member or an experienced member for assistance</li>
                </ol>
            </li><br />
            <li>Dont's
                <ol>
                    <li>Do not engage in any prohibited actions, including but not limited to:
                        <ol>
                            <li>Using the network for any illegal activity</li>
                            <li>Consumption of alcohol</li>
                            <li>Use or distribution of illegal substances</li>
                        </ol>
                    </li>
                    <li>Do not modify the power or network distribution layout. Only use the power sockets provided</li>
                    <li>Do not connect a router to the LAN</li>
                    <li>Do not use any equipment you do not own without permission</li>
                    <li>Do not leave open top liquid containers on a desk near electrical equipment</li>
                    <li>Do not act irresponsibly or anti-socially</li>
                </ol>
            </li><br />
            <li>Safety
                <ol>
                    <li>If you become injured at the LAN you must report to a committee member</li>
                    <li>If you have a serious allergy or medical condition, please make the committee aware</li>
                    <li>Familiarise yourself with the emergency exits and ensure they are not obstructed at all times</li>
                    <li>When you are in the building ensure that you are signed in and when you leave make sure you sign out - we need to know where you are in case of emergency</li>
                </ol>
            </li>
            <li>Data Capture
                <ol>
                    <li>Network traffic is being captured at the LAN, for use in research within the University:</li>
                    <li>There in information about the research in the Participant Information is located in the LAN folder of the document section on the forums <a href="http://www.lsucs.org.uk/pages/docs__page/">(Here)</a></li>
                    <li>If you wish your data removed from this capture, please contact Jozef Woods/Bibble (details in the Info Sheet).</li>
                </ol>
            </li><br />
        </ol>
    </li><br />
    <li><b>End of LAN</b>
        <ol><br />
            <li>Clean up
                <ol>
                    <li>Please leave the LAN in a reasonably tidy state</li>
                </ol>
            </li><br />
            <li>Going home
                <ol>
                    <li>If you need help getting home, ask! You'll find that most people are happy to help</li>
                    <li>Don't drive tired</li>
                    <li>If you're cycling in the dark, use lights</li>
                </ol>
            </li>
        </ol>
    </li>
</ol>