<p>
DC++ is a file sharing and IRC style chat program. In order to connect to a remote hub, which co-ordinates communication, you need a client such as <a href="http://www.apexdc.net/download/">ApexDC++</a>. (This guide will use a fresh install of ApexDC++). 
</p>
<p>
    <b>Hub Address: </b>192.168.1.25
</p>

<h1>basic settings</h1>
<p>
Once ApexDC++ has installed, you will be presented with the settings menu. If you somehow manage to lose this screen, it's under File > Settings.<br/>
On the general Tab, the only vaguely important fields are your nickname (so we know who's talking!), and the upload speed limit. Feel free to up this, although without limits you will find yourself getting pings well into the hundreds on any games you're trying to play!
<center><img src="http://i.imgur.com/gBrdo.png" ></center>
</p>

<h1>network settings</h1>
<p>
Next, under the "connection settings" tab, you will need to set the address for DC++ to bind to. This will be your LAN IP address, and will be "192.168.1.X". It should be listed in the dropdown box most of the time, but if it sin't, you can run "ipconfig /all" from a command prompt, and it will be listed under "IPV4 Address". The rest of the settings should look like the image below. If you have any issues with these steps, don't hesitate to find a committee member to help, or direct you to someone who can.
<center><img src="http://i.imgur.com/vApzA.png"></center>
</p>

<h1>sharing settings</h1>
<p>
Finally head to the "Sharing" tab, and from there you can select which folders to share with the LAN. Please bear in mind that all files have to be hashed, which is a time consuming process, so you might want to do this before the LAN starts! It's also worth noting that any folders you share are visible to everyone at the LAN, and they can download everything in it.
<center><img src="http://i.imgur.com/8CcaL.png"></center>
</p>

<h1>startup</h1>
<p>
When ApexDC++ starts up, it may auto connect you to some default hubs. These can be seen under the tabs at the bottom. You can right click > close on these, as they're boring.<br/>
To connect to the LAN hub, go to File > Quick Connect, and enter the address of the hub (shown at the top of this page).
<center><img src="http://i.imgur.com/jNvlv.png"></center>
</p>