<p>
    The LAN Raffle has over £100 of stuff up for grabs! Everyone who attends the LAN gets a ticket and you then get more by winning certain tournaments. 
    The raffle will be held after the prize giving ceremony on Sunday. You can see how many raffle tickets you have by going to your User Profile.
</p>
<h1>Prizes</h1>
<ul>
    <li>1x Bop It</li>
	<li>3x RC Helicopter</li>
	<li>2x Nerf Guns</li>
	<li>2x Mouse Mats</li>
	<li>2x Free LAN37 Ticket</li>
	<li>Sweets</li>
	<li>KustomPC Vouchers</li>
</ul>