<p>
    The LAN Raffle has over &pound;200 of stuff up for grabs! Everyone who attends the LAN gets a ticket so you are all in with a chance of winning. The raffle will be held after the prize giving ceremony on Sunday at 5pm. 
</p>
<h1>Prizes</h1>
<ul>
    <li>1x Leap Motion</li>
	<li>1x 1TB External HDD</li>
	<li>2x Mouse Mats</li>
    <li>1x Raspberry Pi</li>
	<li>1x &pound;10 Steam Wallet</li>
    <li>2x &pound;5 off Stash</li>
	<li>6x QWERTEE t-shirts</li>
    <li>1x XFX Keyring</li>
</ul>