<p>
    Wondering how to get your computer to the LAN? Live in/near Loughborugh? Then the LAN Van is for you.
    We offer a service to all members for free where we come and collect up to two pieces of your equipment on the Friday and drive it to the venue for you.
</p>
<hr />

<h1>Details</h1>
<p>
    You are allowed to put up to 2 items on the LAN van. Upon collection you will be given 2 pre-printed labels with your name and details on that you must put visibly onto the outside of your items.
    This is so we know what items to take back at the end of the LAN.
</p>
<p>
    <strong>We are not responsible for any damage that may occur to your equipment during transportation.</strong> You use the service at your own risk. Of course we will take the utmost care with your equipment, but accidents happen.
    Any computers put into the van that aren't in a box must have all side panels on and all internal components must be covered up. 
<p>
    Collections will be made from around 11am to 7:30pm on the Friday. Please be flexible when specifying what times you are available from - we can have a lot of people to get round so it helps us if you can be available at several times.
    You will be notified via email and text of your allocated collection time. Please don't have a nap or turn your phone off during this as we will need to ring you to get you to bring your equipment out.
    Do not expect the driver to help you down from the top of Towers with your stuff. He won't! If you miss your collection there will be a fee if you wish another collection to be arranged - contact committee ASAP if this happens.
</p>
<p>
    Drop-offs after the LAN will start from 6:30pm and could take up to 9pm to get done, so please take this into account - if you are not there to take your equipment off the van there will be a fee to get your stuff back!
</p>
<p>
    If you decide at the LAN that you don't need the van to drop your stuff back, <strong>you must tell a committee member</strong>.
<hr />

<h1>registration</h1>
<p>
    You can sign up for the LAN Van through your <a href="/account/">Account Details</a> from 2 weeks before the event. Please try to be flexible with your time options.
</p>
<p>
    Sign-ups for the van will close on the Thursday before the LAN, usually at around 5 pm. After this time you will not be allowed to edit your van details. If you have made a mistake you will need to contact the committee ASAP.
</p>
<!--<hr />

<h1>non-members</h1>
<p>
    Non-members may use the LAN van at a cost of &pound;5 for collection and drop-off or &pound;2.50 for one way. This will be payable upon collection of your equipment - no money, no LAN Van.
</p>-->
