* This may change
<div id="map">
<div id="key">
		<div class="ladies"></div>
		<div class="gents"><div class="label">Toilets</div></div>
		<div class="projector-vertical"><div class="label">Projector</div></div>
		<div class="door-right"><div class="label">Door</div></div>
		<div class="lecturn"><div class="label">Lecturn</div></div>
		<div class="seat committee-seat"><div class="label">Committee</div></div>
		<div class="seat welcome-seat"><div class="label">Registration Desk</div></div>
		<div class="food"><div class="label">Food/Tuck Shop</div></div>
		<div class="seat"><div class="label">Unoccupied</div></div>
		<div class="seat occupied-seat"><div class="label">Occupied</div></div>
		<div class="seat ingame-seat"><div class="label">In-Game</div></div>
	</div>
	<div id="stairs">
		<div class="label" id="stairs-label">Stairs</div>
		<div class="label" id="fire-exit-label">Fire Exit</div>
		<div class="door-top" id="fire-exit-door"></div>
	</div>
	
	<div id="lobby">
		<div class="door-right" id="lab-door"></div>
		<div class="door-right" id="lecture-door-top"></div>
		<div class="door-right" id="lecture-door-bottom"></div>            
		<div class="door-left" id="room-1-door"></div>
		<div class="door-left" id="room-2-door"></div>
		<div class="door-left" id="room-3-door"></div>
		<div class="door-top" id="door-stairs"></div>

		<div class="food" id="food"></div>

		
		<div id="welcome-desk">
			<div id="barrier-left">
				<div class="seat welcome-seat"></div>
			</div>
			<div id="barrier-right">
				<div class="seat welcome-seat"></div>
			</div>
			<div class="label" id="welcome-label">Welcome Desk</div>
		</div>
	</div>
	<div id="entrance-area">
		<div class="door-bottom" id="main-door-left"></div>
		<div class="door-bottom" id="main-door-right"></div>
		<div class="door-left" id="door-lift"></div>
	</div>
		
    <div id="venders">
        <div id="toilets">
			<div id="toilets-left"></div>
			<div id="toilets-right"></div>
            <div id="gents-toilet" class="gents"></div>
            <div id="ladies-toilet" class="ladies"></div>
        </div>
        <div id="seats"></div>
    </div>
    <div id="room-1">       
        <div class="label" id="room-1-label">Room 1</div>
        <div class="projector-horizontal" id="room-1-projector"></div>
      <div class="lecturn" id="room-1-lecturn"></div>
      <div class="seat-block" id="room-1-block1">
        <div class="seat-six">
          <div class="seat" id="A1"></div>
          <div class="seat" id="A2"></div>
          <div class="seat" id="A3"></div>
          <div class="seat" id="A4"></div>
          <div class="seat" id="A5"></div>
          <div class="seat" id="A6"></div>
        </div>
        
        <div class="seat-semicircle">
          <div class="seat" id="A7"></div>
          <div class="seat" id="A8"></div>
        </div>
        
        <div class="seat-circle">
          <div class="seat" id="A9"></div>
          <div class="seat" id="A10"></div>
          <div class="seat" id="A11"></div>
          <div class="seat" id="A12"></div>
        </div>
        <div class="label">A1-12</div>
      </div>
      
      <div class="seat-block" id="room-1-block2">
        <div class="seat-circle">
          <div class="seat" id="B1"></div>
          <div class="seat" id="B2"></div>
          <div class="seat" id="B3"></div>
          <div class="seat" id="B4"></div>
        </div>
        <div class="seat-circle">
          <div class="seat" id="B5"></div>
          <div class="seat" id="B6"></div>
          <div class="seat" id="B7"></div>
          <div class="seat" id="B8"></div>
        </div>
        <div class="seat-semicircle">
          <div class="seat" id="B9"></div>
          <div class="seat" id="B10"></div>
        </div>
        <div class="label">B1-10</div>
      </div>
      
      <div class="seat-block" id="room-1-block3">
        <div class="seat-semicircle">
          <div class="seat" id="C1"></div>
          <div class="seat" id="C2"></div>
        </div>
        <div class="seat-semicircle">
          <div class="seat" id="C3"></div>
          <div class="seat" id="C4"></div>
        </div>
        <div class="seat-semicircle">
          <div class="seat" id="C5"></div>
          <div class="seat" id="C6"></div>
        </div>
        <div class="seat-circle">
          <div class="seat" id="C7"></div>
          <div class="seat" id="C8"></div>
          <div class="seat" id="C9"></div>
          <div class="seat" id="C10"></div>
        </div>
        <div class="label">C1-10</div>
      </div>
    </div>
    
    <div id="room-2">
      <div class="projector-horizontal" id="room-2-projector"></div>
      <div class="lecturn" id="room-2-lecturn"></div>
      <div class="label" id="room-2-label">Room 2</div>
      
      <!-- "Row" D -->
      <div class="seat-block" id="room-2-block1">
        <div class="seat-row">
          <div class="seat large adjust" id="D1"></div>
          <div class="seat large adjust" id="D2"></div>
          <div class="seat" id="D3"></div>
        </div>
        <div class="seat-row">
          <div class="seat large" id="D5"></div>
          <div class="seat large" id="D6"></div>
          <div class="seat" id="D7"></div>
        </div>
        <div class="label">D1-6</div>
      </div>
      <div class="seat-block" id="room-2-block2">
        <div class="seat-row">
          <div class="seat large" id="D8"></div>
          <div class="seat large" id="D9"></div>
          <div class="seat large" id="D10"></div>
        </div>
        <div class="seat-row">
          <div class="seat large" id="D10"></div>
          <div class="seat large" id="D11"></div>
          <div class="seat large" id="D12"></div>
        </div>
         <div class="label">D8-12</div>
      </div>
      <div class="seat-block" id="room-2-block3">
        <div class="seat-row">
          <div class="seat large" id="D8"></div>
          <div class="seat large" id="D9"></div>
          <div class="seat large" id="D10"></div>
        </div>
        <div class="seat-row">
          <div class="seat large" id="D10"></div>
          <div class="seat large" id="D11"></div>
          <div class="seat large" id="D12"></div>
        </div>
         <div class="label">D8-12</div>
      </div>
		
      <!-- "Row" E -->
      <div class="seat-block" id="room-2-block4">
        <div class="seat-row">
          <div class="seat" id="E1"></div>
          <div class="seat" id="E2"></div>
          <div class="seat" id="E3"></div>
        </div>
        <div class="seat-row">
          <div class="seat" id="E4"></div>
          <div class="seat" id="E5"></div>
          <div class="seat" id="E6"></div>
        </div>
        <div class="label">E1-6</div>
      </div>
    
      <div class="seat-block" id="room-2-block5">
        <div class="seat-row">
          <div class="seat large" id="E7"></div>
          <div class="seat large" id="E8"></div>
          <div class="seat large" id="E9"></div>
        </div>
        <div class="seat-row">
          <div class="seat large" id="E10"></div>
          <div class="seat large" id="E11"></div>
          <div class="seat large" id="E12"></div>
        </div>
        <div class="label">E7-12</div>
      </div>
      
      <div class="seat-block" id="room-2-block6">
        <div class="seat-row">
          <div class="seat large" id="E13"></div>
          <div class="seat large" id="E14"></div>
          <div class="seat large" id="E15"></div>
        </div>
        <div class="seat-row">
          <div class="seat large" id="E16"></div>
          <div class="seat large" id="E17"></div>
          <div class="seat large" id="E18"></div>
        </div>
        <div class="label">E12-18</div>
      </div>
      
	</div>
	<div id="room-3">
		<div class="projector-horizontal" id="room-2-projector"></div>
		<div class="label" id="room-2-label">Room 3</div>
		<div class="lecturn" id="room-2-lecturn"></div>
    <div class="seat-block" id="room-3-block1">
			<div class="seat-row">
				<div class="seat large" id="F1"></div>
				<div class="seat large" id="F2"></div>
				<div class="seat large" id="F3"></div>
			</div>
			<div class="seat-row">
				<div class="seat large" id="F4"></div>
				<div class="seat large" id="F5"></div>
				<div class="seat large" id="F6"></div>
			</div>
      <div class="label">F1-6</div>
		</div>
		<div class="seat-block" id="room-3-block2">
			<div class="seat-row">
				<div class="seat large" id="F7"></div>
				<div class="seat large" id="F8"></div>
				<div class="seat large" id="F9"></div>
			</div>
			<div class="seat-row">
				<div class="seat large" id="F10"></div>
				<div class="seat large" id="F11"></div>
				<div class="seat large" id="F12"></div>
			</div>
      <div class="label">F7-12</div>
		</div>
		
		<div class="seat-block" id="room-2-block4">
			<div class="seat-row">
				<div class="seat" id="G1"></div>
				<div class="seat" id="G2"></div>
				<div class="seat" id="G3"></div>
			</div>
			<div class="seat-row">
				<div class="seat" id="G4"></div>
				<div class="seat" id="G5"></div>
				<div class="seat" id="G6"></div>
			</div>
      <div class="label">G1-6</div>
		</div>
    
    <div class="seat-block" id="room-2-block5">
			<div class="seat-row">
				<div class="seat large" id="G7"></div>
				<div class="seat large" id="G8"></div>
				<div class="seat large" id="G9"></div>
			</div>
			<div class="seat-row">
				<div class="seat large" id="G10"></div>
				<div class="seat large" id="G11"></div>
				<div class="seat large" id="G12"></div>
			</div>
      <div class="label">G7-12</div>
		</div>
    
    <div class="seat-block" id="room-2-block6">
			<div class="seat-row">
				<div class="seat large" id="G13"></div>
				<div class="seat large" id="G14"></div>
				<div class="seat large" id="G15"></div>
			</div>
			<div class="seat-row">
				<div class="seat large" id="G16"></div>
				<div class="seat large" id="G17"></div>
				<div class="seat large" id="G18"></div>
			</div>
      <div class="label">G13-18</div>
		</div>
	</div>
	
	<div id="lecture-room">
		<div class="label" id="lecture-room-label">Lecture Theatre</div>
	</div>


</div>