<div id="map3">
	<div id="key">
        <div class="ladies"></div>
        <div class="gents"><div class="label">Toilets</div></div>
        <div class="projector-vertical"><div class="label">Projector</div></div>
        <div class="door-right"><div class="label">Door</div></div>
        <div class="column"><div class="label">Column</div></div>
        <div class="seat committee-seat"><div class="label">Committee</div></div>
        <div class="seat welcome-seat"><div class="label">Registration Desk</div></div>
        <div class="food"><div class="label">Food/Tuck Shop</div></div>
        <div class="seat"><div class="label">Unoccupied</div></div>
        <div class="seat occupied-seat"><div class="label">Occupied</div></div>
        <div class="seat ingame-seat"><div class="label">In-Game</div></div>
        <div class="seat veteran-seat"><div class="label">Veteran</div></div>
    </div>
	<div id="main-hall">
		<div id="main-hall-main">        
            <div class="seat-block" id="block1">
                <div class="seat-row">
                    <div class="seat committee-seat" id="A16"></div>
                    <div class="seat" id="A15"></div>
                    <div class="seat" id="A14"></div>
                    <div class="seat" id="A13"></div>
                    <div class="seat" id="A12"></div>
                    <div class="seat" id="A11"></div>
                    <div class="seat" id="A10"></div>
                    <div class="seat" id="A9"></div>
                    <div class="seat" id="A8"></div>
                    <div class="seat" id="A7"></div>
                    <div class="seat" id="A6"></div>
                    <div class="seat" id="A5"></div>
                    <div class="seat" id="A4"></div>
                    <div class="seat" id="A3"></div>
                    <div class="seat" id="A2"></div>
                    <div class="seat committee-seat" id="A1"></div>
                </div>
                <div class="seat-row">
                    <div class="seat committee-seat" id="B16"></div>
                    <div class="seat" id="B15"></div>
                    <div class="seat" id="B14"></div>
                    <div class="seat" id="B13"></div>
                    <div class="seat" id="B12"></div>
                    <div class="seat" id="B11"></div>
                    <div class="seat" id="B10"></div>
                    <div class="seat" id="B9"></div>
                    <div class="seat" id="B8"></div>
                    <div class="seat" id="B7"></div>
                    <div class="seat" id="B6"></div>
                    <div class="seat" id="B5"></div>
                    <div class="seat" id="B4"></div>
                    <div class="seat" id="B3"></div>
                    <div class="seat" id="B2"></div>
                    <div class="seat committee-seat" id="B1"></div>
                </div>
            </div>
            
            <div class="seat-block" id="block2">
                <div class="seat-row">
                    <div class="seat" id="C16"></div>
                    <div class="seat" id="C15"></div>
                    <div class="seat" id="C14"></div>
                    <div class="seat" id="C13"></div>
                </div>
                <div class="seat-row">
                    <div class="seat" id="D16"></div>
                    <div class="seat" id="D15"></div>
                    <div class="seat" id="D14"></div>
                    <div class="seat" id="D13"></div>
                </div>
                <div class="column"></div>
            </div>
            
            <div class="seat-block" id="block3">
                <div class="seat-row">
                    <div class="seat" id="C12"></div>
                    <div class="seat" id="C11"></div>
                    <div class="seat" id="C10"></div>
                    <div class="seat" id="C9"></div>
                    <div class="seat" id="C8"></div>
                    <div class="seat" id="C7"></div>
                </div>
                <div class="seat-row">
                    <div class="seat" id="D12"></div>
                    <div class="seat" id="D11"></div>
                    <div class="seat" id="D10"></div>
                    <div class="seat" id="D9"></div>
                    <div class="seat" id="D8"></div>
                    <div class="seat" id="D7"></div>
                </div>
                <div class="column"></div>
            </div>
            
            <div class="seat-block" id="block4">
                <div class="seat-row">
                    <div class="seat" id="C6"></div>
                    <div class="seat" id="C5"></div>
                    <div class="seat" id="C4"></div>
                    <div class="seat" id="C3"></div>
                    <div class="seat" id="C2"></div>
                    <div class="seat committee-seat" id="C1"></div>
                </div>
                <div class="seat-row">
                    <div class="seat" id="D6"></div>
                    <div class="seat" id="D5"></div>
                    <div class="seat" id="D4"></div>
                    <div class="seat" id="D3"></div>
                    <div class="seat" id="D2"></div>
                    <div class="seat committee-seat" id="D1"></div>
                </div>
                <div class="column"></div>
            </div>
		</div>
	</div>
</div>