<div id="onlanpic">
</div>

<div class="section">
    <h1>Connecting to the VPN</h1>
    <p>If you are trying to connect from Linux, <a href="http://i.imgur.com/bEI8Ugr.png">please click here</a></p>
    <ol>
        <li><span>Download the OpenVPN desktop client <a href="http://swupdate.openvpn.net/downloads/openvpn-client.msi">here</a></span></li>
        <li><span>Install the program, making sure you click yes if it asks you to install network drivers</span></li>
        <li><span>Start the OpenVPN client</li>
        <li><span>Download the config file from <a href="https://dl.dropboxusercontent.com/u/24279633/lsucs.ovpn">here</a></span></li>
        <li><span>On the right of where it says 'Connection Profiles', click the '+' symbol</span></li>
        <li><span>Check the 'Local File' box, then click the 'Import' button</span></li>
        <li><span>It will prompt you to find a file. Navigate to where you downloaded the config file and select it (lsucs.ovpn)</span></li>
        <li><span>Make sure 'Completely trust this profile' is checked, then click 'Save'</span></li>
        <li><span>Click the lsucs profile square at the bottom of the OpenVPN window. It should ask you for your username and password</span></li>
        <li><span>Enter your login details and click ok. If entered correctly, OpenVPN will load config, assign an IP and tell you it is connected</span></li>
        <li><span>You can verify it is connected by opening command prompt and typing 'ping 10.8.0.1'. If it goes through, you are connected. If it is timed out, see the FAQ</span></li>
    </ol>
</div>

<div class="section">
    <h1>Connecting to Mumble</h1>
    <ul>
        <li><span><b>Server:</b> lsucs.org.uk</span></li>
        <li><span><b>Port:</b> 64738</span></li>
        <li><span><b>Password:</b> lsucs</span></li>
        <li><span>Make sure you use push to talk!</li>
    </ul>
</div>

<div class="section">
    <h1>Oli's Project</h1>
    <p>As well as being an awesome weekend of fun and games, this event is primarily designed to test Oli's FYP, the LAN Website itself. Please try and get as many friends involved in this since the more people who take part, the better test data Oli gets! Thanks</p>
</div>

<div class="section">
    <h1>FAQ</h1>
    <dl class="question">
        <dd>Question</dd>
        <dt>How do I get involved/join games/find games/find people to play with?</dt>
        <dd>Answer</dd>
        <dt>The LAN website has had a load of new features added to help you connect with other people. A live chat system has been incorporated into the site. Once signed in you can see it on the bottom right of your screen. Find out what official tournaments/games are going by looking at the <a href="/whatson/">Timetable</a> and the <a href="/tournaments/">Tournament List</a>. Check out the <a href="/gamehub/">Game Hub</a> to find and create game lobbies.</dt>
    </dl>
    <dl class="question">
        <dd>Question</dd>
        <dt>OpenVPN says my login details are incorrect</dt>
        <dd>Answer</dd>
        <dt>Make sure you are using your forum username, not your email address. If you have any unusual characters in your name (such as underscores, punctuation etc), you may need to get it changed by a committee member. Seek help on Mumble</dt>
    </dl>
    <dl class="question">
        <dd>Question</dd>
        <dt>OpenVPN says it is connected but I have no access/I can't ping 10.8.0.1/OpenVPN gave me a 'callback' error but then next time said it was connected</dt>
        <dd>Answer</dd>
        <dt>Sometimes the OpenVPN client bugs out and might show a message about a 'callback', however next time you click connect it instantly says it is connected but has no IP. To fix this, relaunch OpenVPN and try again. If you still cannot ping 10.8.0.1 or you do not have network/internet access, seek help on Mumble</dt>
    </dl>
    <dl class="question">
        <dd>Question</dd>
        <dt>OpenVPN says my credentials are incorrect even though I know they are right</dt>
        <dd>Answer</dd>
        <dt>Make sure you are using your forum username, not your email address. If you have any unusual characters in your name, you may need to get it changed by a committee member. Seek help on Mumble if the problem persists</dt>
    </dl>
    <dl class="question">
        <dd>Question</dd>
        <dt>I can't connect to Mumble</dt>
        <dd>Answer</dd>
        <dt>Try a different username. Make sure you are typing in the connection details correctly. If you still can't connect, seek advice on the forums</dt>
    </dl>
    <dl class="question">
        <dd>Question</dd>
        <dt>I'm confused and lost and scared of the dark and someone reported me</dt>
        <dd>Answer</dd>
        <dt>If you have any problems at all, come into the 'Mission Control' channel on mumble and ask someone for help. Please do not use this channel for idle chit chat.</dt>
    </dl>
    <dl class="question">
        <dd>Question</dd>
        <dt>I've found a bug with the LAN website, should I bitch/whine about it or tell you?</dt>
        <dd>Answer</dd>
        <dt>Please report any bugs <a href="http://lsucs.org.uk/threads/lan-website-bug-reports.7995/">here</a></dt>
    </dl>
</div>