<h1>LSUCS AWARDS 2017</h1>

<p>Choose one option for each nomination. These awards will never be actually awarded. Please do not be offended by any of the results.</p>

<form id='award_poll'>
</form>