<div id="refresh" value="<? echo $DataBag["interval"]; ?>"></div>
<iframe id="presentation" src="<? echo $DataBag["presentation"]; ?>" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<div id="blicko" style="">
    <iframe src="http://blicko.com/LSUCS%20LANs" frameborder="0" scrolling="no" style="position: absolute; width: 1280px; height: 2000px; top: -113px; left: -133px;"></iframe>
</div>