<div id="refresh" value="<?=$DataBag["interval"]?>"></div>
<iframe id="presentation" src="<?=$DataBag["presentation"]?>" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<div id="radio">
    <iframe src="http://192.168.0.26/player" frameborder="0" scrolling="no"></iframe>
</div>