<div id="profile">

    <div id="profile-head">
    
        <div id="avatar"></div>
        
        <div id="main-info">
            <div class="info-row"><b>Name:</b> <span id="name"></span></div>
            <div class="info-row"><b>Username:</b> <span id="username"></span></div>
            <div class="info-row"><b>Steam:</b> <span id="steam"></span></div>
            <div class="info-row"><b>Status:</b> <span id="status"></span></div>
            <div class="info-row"><b>Game:</b> <span id="game"></span></div>
            <div class="info-row"><b>Seat:</b> <span id="seat"></span></div>
        </div>
        
        <div style="clear: both;"></div>
        
    </div>
    
    <div id="favourite-games-container">
        <h1>Favourite Games</h1>
        <div id="favourite-games">
        </div>
    </div>
    
    <div id="recently-played-games-container">
        <h1>Recently Played Games</h1>
        <div id="recently-played-games">
        </div>
    </div>
    
    <div id="raffle-tickets-container">
        <h1>Your Raffle Tickets</h1>
        <div id="raffle-tickets">
        </div>
    </div>

</div>

<div id="loading">
    <img src="/images/loading.gif" />
</div>

<div id="invalid-profile">
    Profile not found for user
</div>