<ul id="statsnav">
    <li><a href="#" id="nav-normal">Total Times</a></li>
    <li><a href="#" id="nav-bygame">Average Time Per Player</a></li>
</ul>

<div id="gametime"></div>
<div id="totaltime" style="margin-top: 10px; text-align: center; color: #444;"></div>