<?

if(count($DataBag["usertournaments"])) {
?>

    <div id="signup-label">My Signups</div>
    <div id="my-signups">
<?
        foreach($DataBag["usertournaments"] as $t) {
?>
        <div class="signup">
            <span class="id" style="display: none"><?=$t["tournament"]->ID?></span>
            <div class="icon">
                <img src="<?=$t["tournament"]->getIcon()?>"/>
            </div>
            <div class="name"><?=$t["tournament"]->getName()?></div>
            <?=(isset($t["team"])) ? '<div class="team"><b>Team:</b> ' . $t["team"]->getName() . '</div>' : ''?>
            <div class="starts"><b>Starts:</b><?=$t["tournament"]->getStart()?></div></div>
<?
        }
?>
    </div>
    
<?
}
if(!count($DataBag["tournaments"])) {
?>
    <div class="notournaments">No Tournaments have been created for this LAN yet</div>
<?
} else {
?>

    <div id="tournaments">
    
        <?
        foreach ($DataBag["tournaments"] as $t) {
        ?>
            <div class="day"><?=$t->getDay()?></div>
            <a href="<?=LanWebsite_Main::buildUrl(false, 'tournaments', 'view', array('id'=>$t->ID))?>">
                <div class="tournament" value="<?=$t->ID?>">
                    <div class="icon"><img src="<?=$t->getIcon()?>" /></div>
                    <div class="name"><p class="exclude"><?=$t->getName()?></p></div>
                    <div class="right-container">
                        <div class="right">
                            <div><b>Game:</b> <?=$t->getGame()?></div>
                            <? if ($t->signupsOpen()) echo '<div><b>Signups Close:</b> ' . $t->getSignupClose() . '</div>'; ?>
                            <div><b>Starts:</b> <?=$t->getStart()?></div>
                            <div><b>Ends:</b> <?=$t->getEnd()?></div>
                        </div>
                    </div>
                </div>
            </a>
        <?
        }
        ?>

    </div>

<?
}
?>