<div class="return"><span></span><a href="<?=LanWebsite_Main::buildUrl(false, "tournaments")?>">Return to tournaments</a></div>

<div class="tournament-header">
    <div class="tournament-logo"><img src="<?=$DataBag["tournament"]->getIcon()?>" /></div>
    <div class="title"><?=$DataBag["tournament"]->getName()?></div>
</div>

<div id="info-container">
    <div id="tournament-info">
        <div class="info-element">
            <div class="info-left">Game:</div>
            <div class="info-right"><?=$DataBag["tournament"]->getGame()?></div>
        </div>
        <div class="info-element">
            <div class="info-left">Team Size:</div>
            <div class="info-right"><?=$DataBag["tournament"]->getTeamSize()?></div>
        </div>
<?php
if ($DataBag["tournament"]->signupsOpen()) {
?>
        <div class="info-element">
            <div class="info-left">Signups close:</div>
            <div class="info-right"><?=$DataBag["tournament"]->getSignupClose()?></div>
        </div>
<?php
}
?>
        <div class="info-element">
            <div class="info-left">Starts:</div>
            <div class="info-right"><?=$DataBag["tournament"]->getStart()?></div>
        </div>
        <div class="info-element">
            <div class="info-left">Ends:</div>
            <div class="info-right"><?=$DataBag["tournament"]->getEnd()?></div>
        </div>
        <div class="info-element">
            <div class="info-left">Format:</div>
            <div class="info-right"><?=$DataBag["tournament"]->getType()?></div>
        </div>
        <div class="info-element">
            <div class="info-left">Description:</div>
            <div class="info-right description"><?=$DataBag["tournament"]->getDescription()?></div>
        </div>
    </div>
</div>

<div style="clear: both;"></div>

<?php
if($DataBag["tournament"]->signupsOpen()) {
?>


<div id="tournament-buttons">
<?php
    if(!$DataBag["tournament"]->isSignedUp()) {
        if($DataBag["tournament"]->getTeamSize() > 1) echo '<button id="create-team">Create Team</button>';
        //If the user is a member of any teams, give them to javascript and show button for joining
        if(count($DataBag["user_teams"])) {
            echo '<script> var userTeams = [';
            foreach($DataBag['user_teams'] as $team) {
                echo "{'id':'" . $team->ID . "', 'name':'" . $team->getName() . "'},";
            }
?>
            ]</script>
            <button id="join-team">Join With Team</button>
            <div id="join-team-form" title="Create new user">
                <form>
                <fieldset>
                    <select id="join-teams">
                    </select>
                </fieldset>
                </form>
            </div>
<?php
        }
        echo '<button id="join-solo">Join Solo</button>';
    } else {
        echo '<button id="leave-tournament">Leave Tournament</button>';
    }
?>
</div>

<?php 
}
?>

<div id="tournament-tabs">

    <ul>
<?php 
        if($DataBag["tournament"]->getTeamSize() > 1) { echo '<li><a href="#teams">Teams</a></li>'; }
        else { echo '<li><a href="#signups">Signups</a></li>'; }
        
        if($DataBag["brackets"]) { echo '<li><a href="#tabs-2">Bracket</a></li>'; }
        if($DataBag["matches"]) { echo '<li><a href="#tabs-3">Matches</a></li>'; }
?>
    </ul>
    
<?php 
if ($DataBag["tournament"]->getTeamSize() > 1) {
?>
        <div id="teams">
            <div id="team-list">
<?
    foreach($DataBag["signup_list"] as $team) {
?>
                <a href="<?=LanWebsite_Main::buildUrl(false, "tournaments", "team", array("id" => $team->ID))?>">
                    <div class="team">
                        <span class="team-name"><?=$team->getName()?></span>
                        <span class="team-leader">Captain: <?=$team->getCaptain()?></span>
                        <span class="playercount"><?=$team->getNumPlayers()?>/<?=$DataBag["tournament"]->getTeamSize()?></span>
                    </div>
                </a>
<?php
    }
?>
            </div>
        </div>
<?php 
} else { ?>
        <div id="signups">
<?php
    foreach($DataBag["signup_list"] as $user) {
?>
            <a href="<?=LanWebsite_Main::buildUrl(false, "profile", null, array('userid'=>$user->getUserId()))?>">
                <div class="user">
                    <span class="user-name"><?=$user->getFullName()?></span>
                </div>
            </a>
<?php
    }
?>
        </div>
<?php
}
    
if($DataBag["bracket"]) {
?>
        <div id="tabs-2">
            <? $DataBag["bracket"]->display(); ?>
        </div>
<?php
}

if($DataBag["matches"]) {
?>
    <div id="tabs-3">
        <div class="matches">
<?php
    foreach($DataBag["matches"] as $match) {
?>
            <div class="match <?=($match->getPlayed()) ? 'played' : ''?>" id="match-<?=$match->ID?>">
                <div class="player1 <?=($match->getWinner() == 1) ? 'winner' : ''?>"><?=LanWebsite_Main::getPlayerLink($match->getPlayer1())?></div>
                <div class="score1"><?=($match->getPlayed()) ? $match->getScore1() : '-'?></div>
                <div class="vs">V</div>
                <div class="score2"><?=($match->getPlayed()) ? $match->getScore2() : '-'?></div>
                <div class="player2 <?=($match->getWinner() == 2) ? 'winner' : ''?>"><?=LanWebsite_Main::getPlayerLink($match->getPlayer2())?></div>
            </div>
        </div>
<?php
    }
?>
    </div>
<?php
}
?>
    
</div>