<div id="tournaments">
    
    <a href="http://lsucs.org.uk/threads/iron-lan-lan41.8706/">
    <div class="tournament">
        <div class="icon"><img src="http://i.imgur.com/eG7P3UJ.png" /></div>
        <div class="name"><p class="exclude">Iron LAN</p></div>
        <div class="right-container">
            <div class="right">
                <div><b>Game:</b> Iron LAN</div>
                <div><b>Time:</b> See timetable</div>
            </div>
        </div>
    </div>
    </a>
    
    <div class="day">Saturday</div>
    <a href="http://lsucs.org.uk/threads/l4d2-signup-thread.8776/">
    <div class="tournament">
        <div class="icon"><img src="http://i.imgur.com/Z9n6MpX.jpg" /></div>
        <div class="name"><p class="exclude">Left 4 Dead 2</p></div>
        <div class="right-container">
            <div class="right">
                <div><b>Game:</b> CS:S</div>
                <div><b>Starts:</b> 1pm Sat</div>
                <div><b>Ends:</b> 5pm Sat</div>
            </div>
        </div>
    </div>
    </a>
    
    <div class="day">Sunday</div>
    
    <a href="http://lsucs.org.uk/threads/games-at-lan41.8680/">
    <div class="tournament">
        <div class="icon"><img src="http://cloud-2.steampowered.com/ugc/612755607820854916/82096660F415398C119A7F76E5EFEFB017866EC7/"></div>
        <div class="name"><p class="exclude">Minecraft Walls</p></div>
        <div class="right-container">
            <div class="right">
                <div><b>Game:</b> Minecraft</div>
                <div><b>Starts:</b> 2:00pm Sun</div>
                <div><b>Ends:</b> 4:00pm Sun</div>
            </div>
        </div>
    </div>
    </a>

</div>