<div id="create-tournament">

    <div class="detail">
        <label for="team-name" class="detail-label">Team Name:</label>
        <input id="team-name" type="text" />
        <span class="sub-detail">
            The name for your team. Must be between 3 and 200 Characters.
        </span>
    </div>
    
    <div class="detail">
        <label for="team-icon" class="detail-label">Team Icon:</label>
        <input id="team-icon" type="text" />
        <span class="sub-detail">
            A avatar type icon for your team. Url to iamge.
        </span>
    </div>
    
    <div class="detail">
        <label for="team-description" class="detail-label">Description:</label>
        <input id="team-description" type="text" />
        <span class="sub-detail">
            A bit of information about your team.
        </span>
    </div>
    
    <button id="create-team-button" class="create-button">Create Team</button>
    
</div>