<div style="color: red; font-size: 16px; text-align: center;">Don't know how to get involved in a game? If it is a tournament, there is a thread on the forums. If not, go to the Game Hub around the time that it is meant to start and join the lobby for that game. Any questions, join Mumble</div>

<div id="tournaments">
    <div class="day">Saturday</div>
    <a href="http://lsucs.org.uk/threads/tf2-prophunt.7998/">
    <div class="tournament">
        <div class="icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcqtGJO2hGghG1iWjD9rrJNH-prHEICOJtScGpQoiv9yiMwa-y8Q"></div>
        <div class="name"><p class="exclude">TF2 Prophunt</p></div>
        <div class="right-container">
            <div class="right">
                <div><b>Game:</b> TF2</div>
                <div><b>Starts:</b> 10am Sat</div>
                <div><b>Ends:</b> 12pm Sat</div>
            </div>
        </div>
    </div>
    </a>
    
    <div class="tournament">
        <div class="icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr7DYup1upbestoZD86qSk7GP2aJ9yfzxtd6ya1HtCq_v3GCmLKg"></div>
        <div class="name"><p class="exclude">Natural Selection 2</p></div>
        <div class="right-container">
            <div class="right">
                <div><b>Game:</b> NS2</div>
                <div><b>Starts:</b> 12pm Sat</div>
                <div><b>Ends:</b> 2pm Sat</div>
            </div>
        </div>
    </div>

    <a href="http://lsucs.org.uk/threads/left-4-dead-2-versus-survival-tournament.8000/">
    <div class="tournament">
        <div class="icon"><img src="http://cdn3.steampowered.com/v/gfx/apps/550/header_292x136.jpg"></div>
        <div class="name"><p class="exclude">L4D2 Survival Versus</p></div>
        <div class="right-container">
            <div class="right">
                <div><b>Game:</b> L4D2</div>
                <div><b>Starts:</b> 2pm Sat</div>
                <div><b>Ends:</b> 6pm Sat</div>
            </div>
        </div>
    </div>
    </a>
    
    <div class="tournament">
        <div class="icon"><img src="http://cdn3.steampowered.com/v/gfx/apps/570/header_292x136.jpg"></div>
        <div class="name"><p class="exclude">Dota 2 Custom Realms</p></div>
        <div class="right-container">
            <div class="right">
                <div><b>Game:</b> Dota 2</div>
                <div><b>Starts:</b> 6pm Sat</div>
                <div><b>Ends:</b> 8pm Sat</div>
            </div>
        </div>
    </div>
    
    <div class="tournament">
        <div class="icon"><img src="http://cdn.steampowered.com/v/gfx/apps/219640/header.jpg?t=1363602186"></div>
        <div class="name"><p class="exclude">Chivalry</p></div>
        <div class="right-container">
            <div class="right">
                <div><b>Game:</b> Chivalry</div>
                <div><b>Starts:</b> 8pm Sat</div>
                <div><b>Ends:</b> 10pm Sat</div>
            </div>
        </div>
    </div>
    
    <div class="tournament">
        <div class="icon"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQc9u6KBDwJpGI7v_kLpUFxyHmacwjv5GI_DBqpsCXNm9pToQ6H"></div>
        <div class="name"><p class="exclude">The Hidden</p></div>
        <div class="right-container">
            <div class="right">
                <div><b>Game:</b> The Hidden</div>
                <div><b>Starts:</b> 10pm Sat</div>
                <div><b>Ends:</b> 12am Sun</div>
            </div>
        </div>
    </div>
    
    <a href="http://lsucs.org.uk/threads/css-gungame.7999/">
    <div class="tournament">
        <div class="icon"><img src="http://www.teamwarfare.com/content/news/css/gungame.jpg"></div>
        <div class="name"><p class="exclude">CS:S Gungame</p></div>
        <div class="right-container">
            <div class="right">
                <div><b>Game:</b> CS:S</div>
                <div><b>Starts:</b> 12am Sun</div>
                <div><b>Ends:</b> 2am Sun</div>
            </div>
        </div>
    </div>
    </a>
    
    <div class="day">Sunday</div>
    
    <div class="tournament">
        <div class="icon"><img src="http://ultimategameserver.com/sites/default/files/games_images/hl2dmgp.jpg"></div>
        <div class="name"><p class="exclude">Half Life 2: DM</p></div>
        <div class="right-container">
            <div class="right">
                <div><b>Game:</b> Half Life 2: DM</div>
                <div><b>Starts:</b> 10am Sun</div>
                <div><b>Ends:</b> 12pm Sun</div>
            </div>
        </div>
    </div>
    
    <div class="tournament">
        <div class="icon"><img src="http://evergreenterrace.net/wp-content/themes/DynamiX/lib/scripts/timthumb.php?h=400&w=&zc=0&src=wp-content/uploads/2012/03/events_tf2ware.jpg"></div>
        <div class="name"><p class="exclude">TF2 WarioWare</p></div>
        <div class="right-container">
            <div class="right">
                <div><b>Game:</b> TF2</div>
                <div><b>Starts:</b> 12pm Sun</div>
                <div><b>Ends:</b> 2pm Sun</div>
            </div>
        </div>
    </div>
    
    <div class="tournament">
        <div class="icon"><img src="http://cloud-2.steampowered.com/ugc/612755607820854916/82096660F415398C119A7F76E5EFEFB017866EC7/"></div>
        <div class="name"><p class="exclude">Minecraft Hungergames</p></div>
        <div class="right-container">
            <div class="right">
                <div><b>Game:</b> Minecraft</div>
                <div><b>Starts:</b> 2pm Sun</div>
                <div><b>Ends:</b> 3pm Sun</div>
            </div>
        </div>
    </div>

</div>