    <div id="team-options">
        <ul>
            <a href="<?=LanWebsite_Main::buildUrl(false, 'teams', 'create')?>"><li class="create">Create Team</li></a>
            <a href="<?=LanWebsite_Main::buildUrl(false, 'teams', null)?>"><li class="teams">Team List</li></a>
            <a href="<?=LanWebsite_Main::buildUrl(false, 'teams', 'self')?>"><li class="your">Your Teams</li></a>
        </ul>
    </div>