<div id="tournaments">
    
    <a href="http://lsucs.org.uk/threads/iron-lan-tournament-lan-40.8033/">
    <div class="tournament">
        <div class="icon"><img src="http://i.imgur.com/aVKTcHZ.png" /></div>
        <div class="name"><p class="exclude">Iron LAN</p></div>
        <div class="right-container">
            <div class="right">
                <div><b>Game:</b> Iron LAN</div>
                <div><b>Time:</b> See timetable</div>
            </div>
        </div>
    </div>
    </a>
    
    <div class="day">Saturday</div>
    <a href="http://lsucs.org.uk/threads/tournament-counter-strike-source.8035/">
    <div class="tournament">
        <div class="icon"><img src="http://cdn3.steampowered.com/v/gfx/apps/240/header_292x136.jpg"></div>
        <div class="name"><p class="exclude">Counter-Strike: Source</p></div>
        <div class="right-container">
            <div class="right">
                <div><b>Game:</b> CS:S</div>
                <div><b>Starts:</b> 1pm Sat</div>
                <div><b>Ends:</b> 5pm Sat</div>
            </div>
        </div>
    </div>
    </a>
    
    <div class="day">Sunday</div>
    
    <div class="tournament">
        <div class="icon"><img src="http://cloud-2.steampowered.com/ugc/612755607820854916/82096660F415398C119A7F76E5EFEFB017866EC7/"></div>
        <div class="name"><p class="exclude">Minecraft Hungergames</p></div>
        <div class="right-container">
            <div class="right">
                <div><b>Game:</b> Minecraft</div>
                <div><b>Starts:</b> 2:30pm Sun</div>
                <div><b>Ends:</b> 3:30pm Sun</div>
            </div>
        </div>
    </div>

</div>