<p><b><center style="color: red">Please scroll to the bottom to see the timetable for on-duty committee.</center></b></p>
<br />
<div id="labels">
	<div>Friday</div>
	<div>Saturday</div>
	<div>Sunday</div>
</div>
<div id="timetable-container">
	<div id="time"></div>
	<div class="timetable-day" id="friday">
		<div class="time-row" value="00:00">
			<div class="time">
				00:00
			</div>
		</div>
		<div class="time-row" value="00:30">
		</div>
		<div class="time-row" value="01:00">
			<div class="time">
				01:00
			</div>
		</div>
		<div class="time-row" value="01:30">
		</div>
		<div class="time-row" value="02:00">
			<div class="time">
				02:00
			</div>
		</div>
		<div class="time-row" value="02:30">
		</div>
		<div class="break">
		</div>
		<div class="time-row" value="09:00">
			<div class="time">
				09:00
			</div>
		</div>
		<div class="time-row" value="09:30">
		</div>
		<div class="time-row" value="10:00">
			<div class="time">
				10:00
			</div>
		</div>
		<div class="time-row" value="10:30">
		</div>
		<div class="time-row" value="11:00">
			<div class="time">
				11:00
			</div>
		</div>
		<div class="time-row" value="11:30">
		</div>
		<div class="time-row" value="12:00">
			<div class="time">
				12:00
			</div>
		</div>
		<div class="time-row" value="12:30">
		</div>
		<div class="time-row" value="13:00">
			<div class="time">
				13:00
			</div>
		</div>
		<div class="time-row" value="13:30">
		</div>
		<div class="time-row" value="14:00">
			<div class="time">
				14:00
			</div>
		</div>
		<div class="time-row" value="14:30">
		</div>
		<div class="time-row" value="15:00">
			<div class="time">
				15:00
			</div>
		</div>
		<div class="time-row" value="15:30">
		</div>
		<div class="time-row" value="16:00">
			<div class="time">
				16:00
			</div>
		</div>
		<div class="time-row" value="16:30">
		</div>
		<div class="time-row" value="17:00">
			<div class="time">
				17:00
			</div>
		</div>
		<div class="time-row" value="17:30">
		</div>
		<div class="time-row" value="18:00">
			<div class="time">
				18:00
			</div>
		</div>
		<div class="time-row" value="18:30">
		</div>
		<div class="time-row" value="19:00">
			<div class="time">
				19:00
			</div>
		</div>
		<div class="time-row" value="19:30">
		</div>
		<div class="time-row" value="20:00">
			<div class="time">
				20:00
			</div>
		</div>
		<div class="time-row" value="20:30">
		</div>
		<div class="time-row" value="21:00">
			<div class="time">
				21:00
			</div>
		</div>
		<div class="time-row" value="21:30">
		</div>
		<div class="time-row" value="22:00">
			<div class="time">
				22:00
			</div>
		</div>
		<div class="time-row" value="22:30">
		</div>
		<div class="time-row" value="23:00">
			<div class="time">
				23:00
			</div>
		</div>
		<div class="time-row bottom-row" value="23:30">
		</div>
		<div class="time-row invisible" value="24:00">
		</div>
	</div>
	<div class="timetable-day" id="saturday">
		<div class="time-row" value="00:00">
		</div>
		<div class="time-row" value="00:30">
		</div>
		<div class="time-row" value="01:00">
		</div>
		<div class="time-row" value="01:30">
		</div>
		<div class="time-row" value="02:00">
		</div>
		<div class="time-row" value="02:30">
		</div>
		<div class="break">
		</div>
		<div class="time-row" value="09:00">
		</div>
		<div class="time-row" value="09:30">
		</div>
		<div class="time-row" value="10:00">
		</div>
		<div class="time-row" value="10:30">
		</div>
		<div class="time-row" value="11:00">
		</div>
		<div class="time-row" value="11:30">
		</div>
		<div class="time-row" value="12:00">
		</div>
		<div class="time-row" value="12:30">
		</div>
		<div class="time-row" value="13:00">
		</div>
		<div class="time-row" value="13:30">
		</div>
		<div class="time-row" value="14:00">
		</div>
		<div class="time-row" value="14:30">
		</div>
		<div class="time-row" value="15:00">
		</div>
		<div class="time-row" value="15:30">
		</div>
		<div class="time-row" value="16:00">
		</div>
		<div class="time-row" value="16:30">
		</div>
		<div class="time-row" value="17:00">
		</div>
		<div class="time-row" value="17:30">
		</div>
		<div class="time-row" value="18:00">
		</div>
		<div class="time-row" value="18:30">
		</div>
		<div class="time-row" value="19:00">
		</div>
		<div class="time-row" value="19:30">
		</div>
		<div class="time-row" value="20:00">
		</div>
		<div class="time-row" value="20:30">
		</div>
		<div class="time-row" value="21:00">
		</div>
		<div class="time-row" value="21:30">
		</div>
		<div class="time-row" value="22:00">
		</div>
		<div class="time-row" value="22:30">
		</div>
		<div class="time-row" value="23:00">
		</div>
		<div class="time-row bottom-row" value="23:30">
		</div>
		<div class="time-row invisible" value="24:00">
		</div>
	</div>
	<div class="timetable-day" id="sunday">
		<div class="time-row" value="00:00">
		</div>
		<div class="time-row" value="00:30">
		</div>
		<div class="time-row" value="01:00">
		</div>
		<div class="time-row" value="01:30">
		</div>
		<div class="time-row" value="02:00">
		</div>
		<div class="time-row" value="02:30">
		</div>
		<div class="break">
		</div>
		<div class="time-row" value="09:00">
		</div>
		<div class="time-row" value="09:30">
		</div>
		<div class="time-row" value="10:00">
		</div>
		<div class="time-row" value="10:30">
		</div>
		<div class="time-row" value="11:00">
		</div>
		<div class="time-row" value="11:30">
		</div>
		<div class="time-row" value="12:00">
		</div>
		<div class="time-row" value="12:30">
		</div>
		<div class="time-row" value="13:00">
		</div>
		<div class="time-row" value="13:30">
		</div>
		<div class="time-row" value="14:00">
		</div>
		<div class="time-row" value="14:30">
		</div>
		<div class="time-row" value="15:00">
		</div>
		<div class="time-row" value="15:30">
		</div>
		<div class="time-row" value="16:00">
		</div>
		<div class="time-row" value="16:30">
		</div>
		<div class="time-row" value="17:00">
		</div>
		<div class="time-row" value="17:30">
		</div>
		<div class="time-row" value="18:00">
		</div>
		<div class="time-row" value="18:30">
		</div>
		<div class="time-row" value="19:00">
		</div>
		<div class="time-row" value="19:30">
		</div>
		<div class="time-row" value="20:00">
		</div>
		<div class="time-row" value="20:30">
		</div>
		<div class="time-row" value="21:00">
		</div>
		<div class="time-row" value="21:30">
		</div>
		<div class="time-row" value="22:00">
		</div>
		<div class="time-row" value="22:30">
		</div>
		<div class="time-row" value="23:00">
		</div>
		<div class="time-row bottom-row" value="23:30">
		</div>
		<div class="time-row invisible" value="24:00">
		</div>
	</div>
</div>

<div style="clear: both;"></div>
<a name="rota"></a>
<!--<iframe width='<? echo $DataBag["rotawidth"]; ?>' height='<? echo $DataBag["rotaheight"]; ?>' frameborder='0' style="margin-left: 100px; margin-top: 30px;" src='<? echo $DataBag["rota"]; ?>'></iframe>-->
<div id="committee-timetable">
    <div id="committee-table-head">
        <span class="day">Day</span>
        <span class="start-time">Start Time</span>
        <span class="colour">Username</span>
    </div>
    <div id="committee-timetable-body"></div>
</div>