<h1>Claimed Tickets</h1>
<table id="claimed-tickets" class="ticket-table"></table>
<div class="button-row" id="claimed-buttons">
    <button id="assign">Assign</button><button id="reassign">Re-assign</button><button id="activate">Activate</button><button id="deactivate">De-activate</button><button id="seat">Set Seat</button><button id="add-raffle">Add Raffle Ticket</button>
</div>

<hr />

<h1>Unclaimed Tickets</h1>
<table id="unclaimed-tickets" class="ticket-table"></table>
<div class="button-row" id="unclaimed-buttons">
    <button id="claim">Claim</button>
</div>

<hr />

<h1>Raffle Tickets</h1>
<table id="raffle-tickets" class="ticket-table"></table>
<div class="button-row" id="raffle-buttons">
    <button id="delete-raffle">Delete</button>
</div>