<h1>Matches</h1>

<div id="matches">
<?php

$lastRound = null;
foreach($DataBag["matches"] as $match) {
    $round = $match->getRound();
    if($round !== $lastRound) {
        $lastRound = $round;
        echo "<h2>Round " . $round . "</h2>";
    }
?>
    <div class="match <?=($match->getPlayed()) ? 'played' : ''?>" id="match-<?=$match->ID?>">
        <div class="player1 <?=($match->getWinner() == 1) ? 'winner' : ''?>"><?=LanWebsite_Main::getPlayerLink($match->getPlayer1())?></div>
        <div class="score1"><input type="text" id="score1-<?=$match->ID?>" value="<?=$match->getScore1()?>" /></div>
        <div class="winnerbox"><input id="winner1" type="checkbox" <?=($match->getWinner() == 1) ? 'checked="checked"' : ''?> /></div>
        <div class="vs">V</div>
        <div class="winnerbox"><input id="winner2" type="checkbox" <?=($match->getWinner() == 2) ? 'checked="checked"' : ''?> /></div>
        <div class="score2"><input type="text" id="score2-<?=$match->ID?>" value="<?=$match->getScore2()?>" /></div>
        <div class="player2 <?=($match->getWinner() == 2) ? 'winner' : ''?>"><?=LanWebsite_Main::getPlayerLink($match->getPlayer2())?></div>
        <div class="edit"><button class="editButton" onclick="edit('<?=$match->ID?>')">Edit</button></div>
    </div>
<?php
}

?>
</div>