
<h1>Current Tournaments</h1>
<div id="entry-table">

</div>

<hr />

<h1>Create Tournament</h1>
<div id="add-tournament">
    <div class="row-game">
        <label for="new-game">Game:</label>
        <select id="new-game">
<?php
    foreach(Tournament_Main::getGames() as $gameID=>$game) {
        echo "\t\t\t<option value='$gameID'>$game</option>\n";
    }
?>
        </select>
    </div>
    <div class="row-name">
        <label for="new-name">Name:</label>
        <input id="new-name" type="text" />
    </div>
    <div class="row-size">
        <label for="new-team-size">Team Size:</label>
        <input id="new-team-size" type="number" min="1" max="6" value="4" />
    </div>
    <div class="row-type">
        <label for="new-type">Tournament Type:</label>
        <select id="new-type">
<?php
    foreach(Tournament_Main::getTypes() as $typeID=>$type) {
        echo "\t\t\t<option value='$typeID'>$type</option>\n";
    }
?>
        </select>
    </div>
    <div class="row-description">
        <label for="new-description">Description<br />(map info, game modes etc):</label>
        <textarea id="new-description"></textarea>
    </div>
    <div class="row-start">
        <label for="new-start">Start Time:</label>
        <input id="new-start" class="time-picker" type="text" />
    </div>
    <div class="row-end">
        <label for="new-end">End Time:</label>
        <input id="new-end" class="time-picker" type="text" />
    </div>
    <div class="row-signups-end">
        <label for="new-signups-end">Signups Close:</label>
        <input id="new-signups-end" class="time-picker" type="text" />
    </div>
    <div class="row-signup">
        <label for="new-signups">Signups Open?</label>
        <input type="checkbox" id="new-signups" />
    </div>
    <div class="row-visible">
        <label for="new-visible">Visible?</label>
        <input type="checkbox" id="new-visible" />
    </div>
    <div class="row-submit">
        <button id="new-submit">Submit</button>
    </div>
</div>