This button remakes all thumbnails for images in the 'gallery/' subfolders. Run this after uploading new images via FTP for the gallery. Use force if you need to remake ALL thumbnails.
<div id="force-container">
    <p>
        <input type="checkbox" id="force" />
        <label for="force">Force Remake</label>
    </p>
</div>
<button id="process-button">Process Thumbnails</button>