<div id="settings-container">
    <?php
        foreach ($DataBag["settings"] as $setting) {
            echo '<div class="setting">
                  <span class="setting-label">' . ucwords(str_replace("_", " ", $setting["setting_name"])) . " (" . $setting["setting_type"] . "): </span>";
            
            switch ($setting["setting_type"]) {
                case "int":
                    echo '<input type="text" class="setting-int" name="' . $setting["setting_name"] . '" value="' . $setting["setting_value"] . '" />';
                    break;
                case "text":
                    echo '<input type="text" class="setting-text" name="' . $setting["setting_name"] . '" value="' . $setting["setting_value"] . '" />';
                    break;
                case "pass":
                    echo '<input type="password" class="setting-text" name="' . $setting["setting_name"] . '" value="' . $setting["setting_value"] . '" />';
                    break;
                case "bool":
                    echo '<p><input type="checkbox" class="setting-bool" id="' . $setting["setting_name"] . '" name="' . $setting["setting_name"] . '" ' . ($setting["setting_value"]?"checked":"") . ' /><label for="' . $setting["setting_name"] . '"></label></p>';
                    break;
                case "date":
                    echo '<input type="text" readonly="readonly" class="setting-date" name="' . $setting["setting_name"] . '" value="' . $setting["setting_value"] . '" />';
                    break;
            }
            echo "</div>";
        }
        
    ?>
</div>
<button id="save-settings">Save Settings</button>