<h1>Add Blog Entry</h1>
<div id="add-entry">
    <div id="entry-title-container">
        <label for="entry-title">Title:</label>
        <input type="text" id="entry-title" />
    </div>

    <textarea id="entry-content"></textarea>

    <button id="submit-entry">Submit</button>
</div>

<hr />

<h1>Previous Entries</h1>
<div id="entry-table">
    <div id="table-head">
        <span class="id">ID</span>
        <span class="date">Date</span>
        <span class="author">Author</span>
        <span class="title">Title</span>
    </div>
    <div id="table-body">
    </div>
</div>