<p>
    If you need to contact us, please choose from one of the email address below and we will aim to get back to you within 24 hours.
    For general LAN questions, please make sure to check the <a href="index.php?page=info">Information</a> page first as it may likely have your answer there.
</p>
<p><b>General Enquiries:</b> <a href="mailto:committee@lsucs.org.uk">committee@lsucs.org.uk</a></p>
<p><b>LSUCS Chairman:</b> <a href="mailto:chair@lsucs.org.uk">chair@lsucs.org.uk</a></p>
<p><b>Events and Publicity:</b> <a href="mailto:events@lsucs.org.uk">events@lsucs.org.uk</a></p>
<p><b>Site Feedback and Enquiries:</b> <a href="mailto:webmaster@lsucs.org.uk">webmaster@lsucs.org.uk</a></p>