            </div>
            
            <div id="push">
            </div>
            
        </div>
        
        <div id="footer">
            <a href="http://lsucs.org.uk">&copy; LSU Computer Society 2012</a>
        </div>
    
    </body>

</html>