<title><?php echo $DataBag["title"]; ?></title>
<?php if ($DataBag["refresh"]) echo '<meta http-equiv="refresh" content="3;url=index.php">'; ?>
<link rel="shortcut icon" href="/images/favicon.ico" />
