<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

    <head>
    
        <noscript>
            <meta http-equiv="refresh" content="0; url=no-js.html" />
        </noscript>
    
        <title><?php echo $DataBag["title"]; ?></title>
        <?php if ($DataBag["refresh"]) echo '<meta http-equiv="refresh" content="3;url=index.php">'; ?>
        <link rel="shortcut icon" href="images/favicon.ico" />
        
        <link rel="stylesheet" type="text/css" href="css/jquery-ui/jquery-ui.custom.css" />
        <link rel="stylesheet" type="text/css" href="css/ui.spinner.css" />
        <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.css" />
        <link rel="stylesheet" type="text/css" href="css/jquery.cleditor.css" />
        <link rel="stylesheet" type="text/css" href="css/jquery.dataTables_themeroller.css" />
        <link rel="stylesheet" type="text/css" href="css/TableTools_JUI.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/chat.css" />
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui.custom.min.js"></script>
        <script type="text/javascript" src="js/jquery.tools.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui-timepicker-addon.js"></script>
        <script type="text/javascript" src="js/ui.spinner.min.js"></script>
        <script type="text/javascript" src="js/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
        <script type="text/javascript" src="js/jquery.cleditor.min.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/jquery.timers-1.2.js"></script>
        <script type="text/javascript" src="js/galleria/galleria-1.2.8.min.js"></script>
        <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="js/TableTools.min.js"></script>
        <script type="text/javascript" src="js/ZeroClipboard.js"></script>
        <script type="text/javascript" src="js/date.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/chat.js"></script>
        
        <?php
            foreach ($DataBag["styles"] as $style) {
                if (file_exists("css/pages/" . $style)) echo '<link rel="stylesheet" type="text/css" href="css/pages/' . $style . '" />';
            }
            foreach ($DataBag["scripts"] as $script) {
                if (file_exists("js/pages/" . $script)) echo '<script type="text/javascript" src="js/pages/' . $script . '"></script>';
            }
        ?>
        
    </head>
    
    <body>
	
		<div id="background"></div>
		
		<div id="chat">
			<div id="contacts" class="chatbar-element">
				Chat Service Offline
			</div>
			<div id="contact-list"></div>
		</div>
		
        <div id="wrapper">
        
            <div id="header">
			
				<div id="navbar-container">
					<div id="navbar">
						<ul>
							<li class="nav-left nav-logo"><a href="http://lsucs.org.uk">lsu<b>cs</b></a></li>
							<li class="nav-left nav-divider"></li>
							<li class="nav-left"><a href="index.php">Home</a></li>
							<li class="nav-left info"><a href="index.php?page=info">Essential Info</a></li>
							<li class="nav-left"><a href="index.php?page=whatson">What's On</a></li>
							<li class="nav-left"><a href="index.php?page=contact">Contact</a></li>
							<li class="nav-left"><a href="index.php?page=forums">Forums</a></li>
							
							<?php if ($DataBag["loggedin"]) { ?>
								<a href="index.php?page=account&action=logout" title="Logout"><li class="nav-right logout"></li></a>
								<?php if ($DataBag["admin"]) echo '<a href="index.php?route=admin" title="Admin Panel"><li class="nav-right admin"></li></a>'; ?>
								<a href="index.php?page=account" title="Account Details"><li class="nav-right account"></li></a>
								<li class="nav-right"><a href="index.php?page=profile&member=<? echo $DataBag["username"]; ?>" title="Profile"><? echo $DataBag["username"]; ?></a></li>
							<?php } else echo '<li class="nav-right"><a href="index.php?page=account">Sign In</a></li>'; ?>
							<li class="nav-right nav-avatar"><img src="<?php echo $DataBag["avatar"]; ?>" /></li>
						
						</ul>
						
					</div>
				</div>
                
				<div id="info-bar-container">
					<div id="info-bar">
						<div class="info-group">
							<h3>About</h3>
							
							<a href="index.php?page=gallery">
								<div class="info-element">
									<img class="info-image" src="images/info/gallery.png" />
									Gallery
								</div>
							</a>
						</div>
						<div class="info-group">
							<h3>Before the LAN</h3>
							
							<a href="index.php?page=info&action=equipment">
								<div class="info-element">
									<img class="info-image" src="images/info/equipment.png" />
									What to Bring
								</div>
							</a>
							
							<a href="index.php?page=info&action=lanvan">
								<div class="info-element">
									<img id="van" class="info-image" src="images/info/van.png" />
									LAN Van
								</div>
							</a>
							
							<a href="index.php?page=info&action=parking">
								<div class="info-element">
									<img class="info-image" src="images/info/parking.png" />
									Location and Parking
								</div>
							</a>
							
							<a href="index.php?page=info&action=arrival">
								<div class="info-element">
									<img class="info-image" src="images/info/arrival.png" />
									Arrival Details
								</div>
							</a>
						</div>
						
						<div class="info-group">
							<h3>At the LAN</h3>
							
							<a href="index.php?page=info&action=rules">
								<div class="info-element">
									<img class="info-image" src="images/info/rules.png" />
									LAN Rules
								</div>
							</a>
							
							<a href="index.php?page=map">
								<div class="info-element">
									<img class="info-image" src="images/info/map.png" />
									<span>Live Map</span>
								</div>
							</a>
							
							<a href="index.php?page=info&action=food">
								<div class="info-element">
									<img class="info-image" src="images/info/food.png" />
									Food and Drink
								</div>
							</a>
							
							<a href="index.php?page=info&action=sleeping">
								<div class="info-element">
									<img class="info-image" src="images/info/sleep.png" />
									Sleeping
								</div>
							</a>
							
							<a href="index.php?page=info&action=tournamentrules">
								<div class="info-element">
									<img class="info-image" src="images/info/tournament.png" />
									Tournament Rules
								</div>
							</a>
							
							<a href="index.php?page=info&action=raffle">
								<div class="info-element">
									<img class="info-image" src="images/info/raffle.png" />
									Raffle
								</div>
							</a>
							
							<a href="index.php?page=info&action=dc">
								<div class="info-element">
									<img class="info-image" src="images/info/dc.png" />
									DC++
								</div>
							</a>
						</div>
					</div>
				</div>
                        
                <div style="clear: both;"></div>
                
				<div id="title-container">
                    <a href="index.php"><div id="landetails">
                        <div id="lan">LAN<span><?php echo $DataBag["lan"]; ?></span></div>
                        <?php echo $DataBag["datestring"]; ?>
                    </div></a>
                    <? if ($DataBag["countdown"]) { ?>
                        <div id="booking-container">
                            <div id="countdown">
                                <span class="countdown-section">
                                    <span class="countdown-amount" id="countdown-days">0</span>
                                    <span class="countdown-label">Days</span>
                                </span>
                                <span class="countdown-section">
                                    <span class="countdown-amount" id="countdown-hours">0</span>
                                    <span class="countdown-label">Hours</span>
                                </span>
                                <span class="countdown-section">
                                    <span class="countdown-amount" id="countdown-minutes">0</span>
                                    <span class="countdown-label">Minutes</span>
                                </span>
                                <span class="countdown-section">
                                    <span class="countdown-amount" id="countdown-seconds">0</span>
                                    <span class="countdown-label">Seconds</span>
                                </span>
                            </div>
                            <a href="index.php?page=tickets">
                                <div id="book-now">
                                    Book your LAN<?php echo $DataBag["lan"]; ?> ticket!
                                </div>
                            </a>
                        </div>
                    <? } ?>
				</div>
                
                <div style="clear: both;"></div>
				
				<ul class="subtabs lantabs">
					<li><a href="index.php?page=map"><img src="images/accessbar/map.png">Live Map</a></li>
					<li><a href="index.php?page=tournaments"><img src="images/accessbar/game.png">Tournaments</a></li>
					<li><a href="index.php?page=servers"><img src="images/accessbar/servers.png">Game Servers</a></li>
					<li><a href="index.php?page=whatson"><img src="images/accessbar/timetable.png">Timetable</a></li>
					<li><a href="index.php?page=info&action=food"><img src="images/accessbar/pizza.png">Food</a></li>
				</ul>
				
				<? if (isset($_GET["route"]) && strtolower($_GET["route"] == "admin")) { ?>
				
					<ul class="subtabs admintabs">
						<li><a href="index.php?route=admin&page=adminsettings">Settings</a></li>
						<li><a href="index.php?route=admin&page=adminblog">Blog</a></li>
						<li><a href="index.php?route=admin&page=adminwhatson">Timetable</a></li>
						<li><a href="index.php?route=admin&page=admingallery">Gallery</a></li>
						<li><a href="index.php?route=admin&page=admintickets">Tickets</a></li>
						<li><a href="index.php?route=admin&page=adminlanvan">LAN Van</a></li>
						<li><a href="index.php?route=admin&page=admintf2">Games</a></li>
						<li><a href="index.php?route=admin&page=adminfood">Food</a></li>
					</ul>
				
				<? } ?>
                
                <div id="subtitle">
                    <img src="images/arrow.png" /><?php echo $DataBag["subtitle"]; ?>
                </div>

            </div>

			<div id="overlay" class="content-overlay">
                <div id="overlay-content">
                </div>
                <div id="close-overlay">
                </div>
            </div>
            <div id="screen">
            </div>
            
            <div id="content">
