<h2>These rules in place to make sure that tournaments run smoothly</h2>

<ol>
    <li>You may not take part in a tournament if:
        <ol>
            <li>You don't sign up before the sign up deadline</li>
            <li>You sign up with incorrect or insufficient information (usually requires name and seat number)</li>
            <li>You do not own the game</li>
            <li>You do not have the game installed</li>
        </ol>
    </li><br />
    <li>During the tournament you must:
        <ol>
            <li>Be aware of the time and place of your next game</li>
            <li>Start your game no later than 15mins after the start time</li>
            <li>Complete your game within an allocated time</li>
            <li>Send someone from your team to tell the GOs who won</li>
            <li>Play fair, no cheating</li>
            <li>Stick with the same team throughout the tournament</li>
            <li>Play as yourself, no impersonating</li>
            <li>Play only on the server you are required to play on</li>
            <li>Pause the game if a player drops unintentionally</li>
            <li>Play nice - abusing other players is prohibited</li>
            <li>Contact the Gaming Officers (GOs) for any important issues</li>
        </ol>
    </li><br />
    <li>Likely sanctions you will receive for breaking the rules or ignoring instructions:
        <ol>
            <li>Removed from the tournament</li>
            <li>Removed from other tournaments (including future LANs)</li>
            <li>Team forfeit</li>
            <li>Banned from future LANs</li>
        </ol>
    </li><br />
    <li>LAN Veterans - The first LAN of the year may include LAN Veterans to help the first-time LAN-ers. These are members that have been to at least one LAN before and have offered their time to help out new people. LAN Veterans may be integrated into one or more of the tournaments.</li>
</ol>