<div id="left">

    <h1>Breakfast - Order by saturday 8am</h1>
    <ul>
        <li><b>From: </b>Brunch Bites</li>
        <li><b>Order by: </b>Saturday 8am</li>
        <li><b>Arrives by: </b>Saturday 10:30am</li>
        <li><b>How much: </b>Prices are on the LAN Food Order Form</li>
    </ul>
    <p>
       Need something to perk you up on Saturday morning? Brunch Bites are offering a load of tasty breakfast snacks to keep you going through the day! From breakfast boxes to bacon baps they are sure to have something for you.
    </p>
	<a href="index.php?page=orderfood" class="order-button"><button>Order</button></a>

    <hr />

    <h1>Pizza - Order by Saturday 4pm</h1>
    <ul>
        <li><b>From: </b>Dominos</li>
        <li><b>Order by: </b>Saturday 4pm</li>
        <li><b>Arrives by: </b>Saturday 8pm</li>
        <li><b>How much: </b>Prices are on the LAN Food Order Form</li>
    </ul>
    <p>
        To make things simple for everyone we run an official pizza order from Dominos for Saturday night. To place your order, you need to get your LAN Food Order Form (found in your welcome pack), fill it out, then give it to <a href="index.php?page=map#f1">Lisa</a>. 
        You need to pay when you give her the form, so make sure you have money on you! We can only take orders for what is on the form - even though Dominos offers more than that, we cannot allow you to order everything as it would be too complicated!
    </p>
	<a href="index.php?page=orderfood" class="order-button"><button>Order</button></a>

    <hr />

    <h1>Microwave</h1>
    <ul>
        <li><b>Where: </b>The microwave is at the tuck shop</li>
    </ul>
    <p>
        The microwave is there for any attendees to use. The only time you are not allowed to use it is at 10pm on Friday when we will be doing the hotdogs. The microwave is free to use, all we ask is that you are careful with it since it is not society property! 
        If you are unsure how to use it, ask a committee member. REMEMBER - do NOT put metal in it!
    </p>

</div>

<div id="right">

    <h1>Hot Dogs - Friday 10pm</h1>
    <ul>
        <li><b>Where: </b>Tuck Shop</li>
        <li><b>When: </b>Friday 10pm</li>
        <li><b>How much: </b>First one is FREE! After that, 50p</li>
    </ul>
    <p>
        For this LAN we are giving everyone a free hotdog each! You can get more if you are still hungry, however you will need to wait until everyone has got their free one first. Subsequent hotdogs cost 50p.
    </p>

    <hr />

    <h1>Tuck Shop</h1>
    <ul>
        <li><b>Where: </b>Through the double doors towards the toilets</li>
        <li><b>What: </b>Drinks, crisps, chocolate, biscuits - all the things you need to keep you going!</li>
        <li><b>How much: </b>Prices are on a sheet on the tuck shop</li>
    </ul>
    <p>
        Everyone needs energy and food to get them through the LAN, so we have made your life easier by providing you with a tuck shop full of all the things you might need! Be it a Kit Kat, bottle of Mountain Dew or a pack of Oreos, we'll have something you want. 
        Prices are on a printed list on the table. Nobody mans the tuck shop, so just put your money in the box provided once you've chosen what you want.
    </p>

    <hr />

    <h1>Hot water for beverages, pot noodles etc</h1>
    <ul>
        <li><b>Where: </b>The hot water urn is at the tuck shop</li>
        <li><b>How much: </b>Hot water, tea and coffee and hot chocolate are all free! If you feel like making a donation for it you are more than welcome</li>
    </ul>
    <p>
        Ernie the Hot Water Urn is there for your convenience - use him for whatever you want, be it a pot noodle or a cup of tea. All we ask is that if you use up the water, either refill it yourself using the jug or find a committee member to do it.
    </p>
    
</div>

<div style="clear: both;"></div>