<p>
    For LAN35 we have introduced the new LSUCS Raffle with over £200 of stuff up for grabs! Everyone who attends the LAN gets a ticket and you then get more by winning certain tournaments. 
    The raffle will be held after the prize giving ceremony on Sunday. You can see how many raffle tickets you have by going to your User Profile.
</p>
<h1>Prizes</h1>
<ul>
    <li>2x Dishonored T-Shirts</li>
    <li>LSUCS Lunch Box</li>
    <li>Sweets from KustomPC</li>
    <li>4x £10 Vouchers for KustomPC</li>
    <li>Massive Nerf Gun</li>
    <li>3x Small Nerf Guns</li>
    <li>2x Mouse Mats</li>
    <li>2x £10 Steam Vouchers</li>
    <li>£20 Steam Voucher</li>
    <li>2x £15 Stash Vouchers</li>
</ul>