<div id="map">

    <div id="d-block">
    
        <div id="key">
            <div class="ladies"></div>
            <div class="gents"><div class="label">Toilets</div></div>
            <div class="projector-vertical"><div class="label">Projector</div></div>
            <div class="door-right"><div class="label">Door</div></div>
            <div class="column"><div class="label">Column</div></div>
            <div class="seat committee-seat"><div class="label">Committee</div></div>
            <div class="seat welcome-seat"><div class="label">Registration Desk</div></div>
            <div class="food"><div class="label">Food/Tuck Shop</div></div>
            <div class="seat"><div class="label">Unoccupied</div></div>
            <div class="seat occupied-seat"><div class="label">Occupied</div></div>
            <div class="seat ingame-seat"><div class="label">In-Game</div></div>
            <div class="seat veteran-seat"><div class="label">Veteran</div></div>
        </div>
    
        <div id="d-block-corridor">
        </div>
        <div id="toilet-corridor">
            <div class="door-top" id="gents-toilet-door"></div>
            <div class="food" id="tuck-shop"></div>
        </div>
        <div id="toilets">
            <div id="gents-toilet" class="gents"></div>
        </div>
        <div id="stairs">
            <div class="door-right" id="ladies-toilet-door"></div>
            <div id="ladies-toilet" class="ladies"></div>
        </div>
        
        <div id="d-block-room">
        
            <div class="door-right" id="d-block-room-door"></div>
            <div class="label" id="dmu-label">DMU</div>
            <div class="projector-horizontal" id="d-block-projector"></div>
            
            <div class="seat-block" id="d-block-block1">
                <div class="seat-row">
                    <div class="seat" id="DB1"></div>
                    <div class="seat" id="DB2"></div>
                    <div class="seat" id="DB3"></div>
                    <div class="seat" id="DB4"></div>
                    <div class="seat" id="DB5"></div>
                    <div class="seat" id="DB6"></div>
                </div>
            </div>
            
            <div class="seat-block" id="d-block-block2">
                <div class="seat-row">
                    <div class="seat" id="DB7"></div>
                    <div class="seat" id="DB8"></div>
                    <div class="seat" id="DB9"></div>
                    <div class="seat" id="DB10"></div>
                    <div class="seat" id="DB11"></div>
                    <div class="seat" id="DB12"></div>
                </div>
            </div>
            
            <div class="seat-block" id="d-block-block3">
                <div class="seat-row">
                    <div class="seat" id="DB13"></div>
                    <div class="seat" id="DB14"></div>
                </div>
            </div>
            
            <div class="seat-block" id="d-block-block4">
                <div class="seat-row">
                    <div class="seat" id="DB15"></div>
                    <div class="seat" id="DB16"></div>
                </div>
            </div>
            
        </div>
        
    </div>

    <div id="main-hall">
    
        <div id="main-hall-main">
        
            <div class="door-top" id="toilet-door1"></div>
            <div class="door-top" id="toilet-door2"></div>
            <div class="door-right" id="loading-door"></div>
            <div id="projector-corner"></div>
            <div class="label" id="projector-label">Projector/PA</div>
            <div class="label" id="storage-label">Storage Area for Boxes and Bags</div>
            <div class="projector-vertical" id="left-projector"></div>
            <div class="projector-horizontal" id="bottom-projector"></div>
        
            <div class="seat-block" id="block1">
                <div class="seat-row">
                    <div class="seat" id="A16"></div>
                    <div class="seat" id="A15"></div>
                    <div class="seat" id="A14"></div>
                    <div class="seat" id="A13"></div>
                    <div class="seat veteran-seat" id="A12"></div>
                    <div class="seat" id="A11"></div>
                    <div class="seat" id="A10"></div>
                    <div class="seat" id="A9"></div>
                    <div class="seat" id="A8"></div>
                    <div class="seat veteran-seat" id="A7"></div>
                    <div class="seat" id="A6"></div>
                    <div class="seat" id="A5"></div>
                    <div class="seat" id="A4"></div>
                    <div class="seat" id="A3"></div>
                    <div class="seat" id="A2"></div>
                    <div class="seat committee-seat" id="A1"></div>
                </div>
                <div class="seat-row">
                    <div class="seat" id="B16"></div>
                    <div class="seat" id="B15"></div>
                    <div class="seat" id="B14"></div>
                    <div class="seat" id="B13"></div>
                    <div class="seat veteran-seat" id="B12"></div>
                    <div class="seat" id="B11"></div>
                    <div class="seat" id="B10"></div>
                    <div class="seat" id="B9"></div>
                    <div class="seat" id="B8"></div>
                    <div class="seat veteran-seat" id="B7"></div>
                    <div class="seat" id="B6"></div>
                    <div class="seat" id="B5"></div>
                    <div class="seat" id="B4"></div>
                    <div class="seat" id="B3"></div>
                    <div class="seat" id="B2"></div>
                    <div class="seat committee-seat" id="B1"></div>
                </div>
            </div>
            
            <div class="seat-block" id="block2">
                <div class="seat-row">
                    <div class="seat" id="C16"></div>
                    <div class="seat" id="C15"></div>
                    <div class="seat" id="C14"></div>
                    <div class="seat" id="C13"></div>
                </div>
                <div class="seat-row">
                    <div class="seat" id="D16"></div>
                    <div class="seat" id="D15"></div>
                    <div class="seat" id="D14"></div>
                    <div class="seat" id="D13"></div>
                </div>
                <div class="column"></div>
            </div>
            
            <div class="seat-block" id="block3">
                <div class="seat-row">
                    <div class="seat veteran-seat" id="C12"></div>
                    <div class="seat" id="C11"></div>
                    <div class="seat" id="C10"></div>
                    <div class="seat" id="C9"></div>
                    <div class="seat" id="C8"></div>
                    <div class="seat veteran-seat" id="C7"></div>
                </div>
                <div class="seat-row">
                    <div class="seat veteran-seat" id="D12"></div>
                    <div class="seat" id="D11"></div>
                    <div class="seat" id="D10"></div>
                    <div class="seat" id="D9"></div>
                    <div class="seat" id="D8"></div>
                    <div class="seat veteran-seat" id="D7"></div>
                </div>
                <div class="column"></div>
            </div>
            
            <div class="seat-block" id="block4">
                <div class="seat-row">
                    <div class="seat" id="C6"></div>
                    <div class="seat" id="C5"></div>
                    <div class="seat" id="C4"></div>
                    <div class="seat" id="C3"></div>
                    <div class="seat committee-seat" id="C2"></div>
                    <div class="seat committee-seat" id="C1"></div>
                </div>
                <div class="seat-row">
                    <div class="seat" id="D6"></div>
                    <div class="seat" id="D5"></div>
                    <div class="seat" id="D4"></div>
                    <div class="seat" id="D3"></div>
                    <div class="seat committee-seat" id="D2"></div>
                    <div class="seat committee-seat" id="D1"></div>
                </div>
                <div class="column"></div>
            </div>
            
            <div class="seat-block" id="block5">
                <div class="seat-row">
                    <div class="seat" id="E16"></div>
                    <div class="seat" id="E15"></div>
                    <div class="seat" id="E14"></div>
                    <div class="seat" id="E13"></div>
                    <div class="seat veteran-seat" id="E12"></div>
                    <div class="seat" id="E11"></div>
                    <div class="seat" id="E10"></div>
                    <div class="seat" id="E9"></div>
                    <div class="seat" id="E8"></div>
                    <div class="seat veteran-seat" id="E7"></div>
                    <div class="seat" id="E6"></div>
                    <div class="seat" id="E5"></div>
                    <div class="seat" id="E4"></div>
                    <div class="seat" id="E3"></div>
                    <div class="seat" id="E2"></div>
                    <div class="seat committee-seat" id="E1"></div>
                </div>
                <div class="seat-row">
                    <div class="seat" id="F16"></div>
                    <div class="seat" id="F15"></div>
                    <div class="seat" id="F14"></div>
                    <div class="seat" id="F13"></div>
                    <div class="seat veteran-seat" id="F12"></div>
                    <div class="seat" id="F11"></div>
                    <div class="seat" id="F10"></div>
                    <div class="seat" id="F9"></div>
                    <div class="seat" id="F8"></div>
                    <div class="seat veteran-seat" id="F7"></div>
                    <div class="seat" id="F6"></div>
                    <div class="seat" id="F5"></div>
                    <div class="seat" id="F4"></div>
                    <div class="seat" id="F3"></div>
                    <div class="seat" id="F2"></div>
                    <div class="seat committee-seat" id="F1"></div>
                </div>
            </div>
            
            <div class="seat-block" id="block6">
                <div class="seat-row">
                    <div class="seat" id="G16"></div>
                    <div class="seat" id="G15"></div>
                    <div class="seat" id="G14"></div>
                    <div class="seat" id="G13"></div>
                    <div class="seat veteran-seat" id="G12"></div>
                    <div class="seat" id="G11"></div>
                    <div class="seat" id="G10"></div>
                    <div class="seat" id="G9"></div>
                    <div class="seat" id="G8"></div>
                    <div class="seat veteran-seat" id="G7"></div>
                    <div class="seat" id="G6"></div>
                    <div class="seat" id="G5"></div>
                    <div class="seat" id="G4"></div>
                    <div class="seat" id="G3"></div>
                    <div class="seat" id="G2"></div>
                    <div class="seat committee-seat" id="G1"></div>
                </div>
                <div class="seat-row">
                    <div class="seat" id="H16"></div>
                    <div class="seat" id="H15"></div>
                    <div class="seat" id="H14"></div>
                    <div class="seat" id="H13"></div>
                    <div class="seat veteran-seat" id="H12"></div>
                    <div class="seat" id="H11"></div>
                    <div class="seat" id="H10"></div>
                    <div class="seat" id="H9"></div>
                    <div class="seat" id="H8"></div>
                    <div class="seat veteran-seat" id="H7"></div>
                    <div class="seat" id="H6"></div>
                    <div class="seat" id="H5"></div>
                    <div class="seat" id="H4"></div>
                    <div class="seat" id="H3"></div>
                    <div class="seat" id="H2"></div>
                    <div class="seat committee-seat" id="H1"></div>
                </div>
            </div>
        
            <div id="sleeping-area">
                <div class="door-left" id="sleeping-door"></div>
                <div class="label" id="sleeping-label">Quiz/Sleeping Area</div>
            </div>
            <div id="welcome-desk">
                <div id="barrier-left">
                    <div class="seat welcome-seat"></div>
                </div>
                <div id="barrier-right">
                    <div class="seat welcome-seat"></div>
                </div>
                <div class="label" id="welcome-label">Welcome Desk</div>
                <div class="door-bottom"></div>
                <div class="label" id="entrance-label">Main Entrance</div>
            </div>
            <div id="lecture-room">
            </div>
            
        </div>
    </div>

</div>