<div id="map">

    <div id="d-block">
    
        <div id="d-block-corridor">
        </div>
        <div id="toilet-corridor">
            <div class="door-top" id="gents-toilet-door"></div>
        </div>
        <div id="toilets">
            <div id="gents-toilet"></div>
        </div>
        <div id="stairs">
            <div class="door-right" id="ladies-toilet-door"></div>
            <div id="ladies-toilet"></div>
        </div>
        
        <div id="d-block-room">
        
            <div class="door-right" id="d-block-room-door"></div>
            <div class="label" id="dmu-label">DMU</div>
            <div class="projector-horizontal" id="d-block-projector"></div>
            
            <div class="seat-block" id="d-block-block1">
                <div class="seat-row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                </div>
            </div>
            
            <div class="seat-block" id="d-block-block2">
                <div class="seat-row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                </div>
            </div>
            
            <div class="seat-block" id="d-block-block3">
                <div class="seat-row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                </div>
            </div>
            
            <div class="seat-block" id="d-block-block4">
                <div class="seat-row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                </div>
            </div>
            
        </div>
        
    </div>

    <div id="main-hall">
    
        <div id="main-hall-main">
        
            <div class="door-top" id="toilet-door1"></div>
            <div class="door-top" id="toilet-door2"></div>
            <div class="door-right" id="loading-door"></div>
            <div id="projector-corner"></div>
            <div class="label" id="projector-label">Projector/PA</div>
            <div class="label" id="storage-label">Storage Area for Boxes and Bags</div>
            <div class="projector-vertical" id="left-projector"></div>
            <div class="projector-horizontal" id="bottom-projector"></div>
        
            <div class="seat-block" id="block1">
                <div class="seat-row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat committee-seat"></div>
                </div>
                <div class="seat-row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat committee-seat"></div>
                </div>
            </div>
            
            <div class="seat-block" id="block2">
                <div class="seat-row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                </div>
                <div class="seat-row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                </div>
                <div class="column"></div>
            </div>
            
            <div class="seat-block" id="block3">
                <div class="seat-row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                </div>
                <div class="seat-row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                </div>
                <div class="column"></div>
            </div>
            
            <div class="seat-block" id="block4">
                <div class="seat-row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat committee-seat"></div>
                    <div class="seat committee-seat"></div>
                </div>
                <div class="seat-row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat committee-seat"></div>
                    <div class="seat committee-seat"></div>
                </div>
                <div class="column"></div>
            </div>
            
            <div class="seat-block" id="block5">
                <div class="seat-row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat committee-seat"></div>
                </div>
                <div class="seat-row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat committee-seat"></div>
                </div>
            </div>
            
            <div class="seat-block" id="block6">
                <div class="seat-row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat committee-seat"></div>
                </div>
                <div class="seat-row">
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat"></div>
                    <div class="seat committee-seat"></div>
                </div>
            </div>
        
            <div id="sleeping-area">
                <div class="door-left" id="sleeping-door"></div>
                <div class="label" id="sleeping-label">Quiz/Sleeping Area</div>
            </div>
            <div id="welcome-desk">
                <div id="barrier-left">
                    <div class="seat welcome-seat"></div>
                </div>
                <div id="barrier-right">
                    <div class="seat welcome-seat"></div>
                </div>
                <div class="label" id="welcome-label">Welcome Desk</div>
                <div class="door-bottom"></div>
                <div class="label" id="entrance-label">Main Entrance</div>
            </div>
            <div id="lecture-room">
            </div>
            
        </div>
    </div>

</div>