<img id="head-image" src="images/tournaments/tf2.png" />

<div id="main-info">
    <div id="left">
        <ul>
            <li><b>Sign-ups Close: </b>Saturday 12pm</li>
            <li><b>Tournament Start: </b>Saturday 2pm</li>
            <li><b>Tournament End: </b>Saturday 5pm</li>
            <li><b>Team Sizes: </b>6v6</li>
            <li><b>Team Picking: </b>Captain's Pick</li>
            <li><b>First Place Prizes: </b>Hats + Medals + Raffle Ticket</li>
        </ul>
    </div>
    <div id="right">
        <button id="sign-up">Sign Up</button>
        <div id="message"></div>
    </div>
</div>
<div id="description">
    <p>
        Team Fortress 2 is our main tournament at LAN35! Everyone is encouraged to take part as it a) free and b) an enjoyable game no matter what skill level you are! Teams and Tournament Brackets will appear below this space after sign-ups close on Saturday.
    </p>
</div>

<hr />

<div id="bracket">
    <h1>tournament Bracket</h1>

    <iframe src="http://challonge.com/lsucstf2/module?width=860&height=600" width="860" height="600" frameborder="0" scrolling="no" allowtransparency="true"></iframe>

    <hr />
</div>


<div id="servers">
    <h1>Match Servers</h1>
    <ul>
        <li><b>Match A: </b>Server ?</li>
        <li><b>Match B: </b>Server ?</li>
        <li><b>Match C: </b>Server ?</li>
        <li><b>Match D: </b>Server ?</li>
        <li><b>Match E: </b>Server ?</li>
        <li><b>Match F: </b>Server ?</li>
        <li><b>Match G: </b>Server ?</li>
        <li><b>Match H: </b>Server ?</li>
    </ul>
    
    <hr />
</div>


<div id="teams">
    <h1>Teams</h1>
    
    <div class="team">
        <h2>Team 1</h2>
        <ul>
            <li>?</li>
            <li>?</li>
            <li>?</li>
            <li>?</li>
            <li>?</li>
            <li>?</li>
        </ul>
    </div>
    
    <div style="clear: both;"></div>

    <hr />
</div>

