<img id="head-image" src="images/tournaments/minecraft.png" />

<div id="main-info">
    <div id="left">
        <ul>
            <li><b>Sign-ups: </b>No need to sign up, just get on the server and build!</li>
            <li><b>Teams: </b>Teams are not allowed - single work only</li>
            <li><b>Competition Starts: </b>Saturday 6pm</li>
            <li><b>Competition Ends: </b>Saturday 8pm</li>
            <li><b>Judging: </b>Saturday 8pm by Oli and Matt</li>
            <li><b>Server: </b>glados.lsucs.org.uk</li>
            <li><b>First Place Prize: </b>Lego + Raffle Ticket + Medal</li>
            <li><b>Second Place Prize: </b>Lego + Medal</li>
            <li><b>Wooden Spoon Prize: </b>Wooden Spoon</li>
        </ul>
    </div>
</div>
<div id="description">
    <p>
        Fancy showing off your Minecraft creative skills? This is the competition for you! You have 2 hours to build us something. Once the time is up, you need to set a warp at the location of your creation. After that we will gather round the main projector and judge your work! Please find below some things that DON'T win prizes:
    </p>
    <h1>Things that DOn'T win</h1>
    <ul>
        <li>Rollercoasters - all rollercoasters will be destroyed with las0rs</li>
        <li>2D sprite/pixel art - copying pixels off a picture doesn't win!</li>
        <li>A load of TNT that just kills Oli</li>
    </ul>
    <h1>setting a warp point</h1>
    <ul>
        <li>Stand wherever you want us to start viewing your creation from</li>
        <li>Type '/setwarp name' where name at least partially contains your real name</li>
    </ul>
    
</div>