<img id="head-image" src="images/tournaments/hungergames.png" />

<div id="main-info">
    <div id="left">
        <ul>
            <li><b>Tournament Start: </b>Sunday 1pm</li>
            <li><b>Tournament End: </b>Sunday 4pm</li>
            <li><b>First Place Prize: </b>lego + Raffle Ticket + Medal</li>
            <li><b>Second Place Prize: </b>Lego</li>
            <li><b>Server: </b>glados.lsucs.org.uk</li>
        </ul>
    </div>
    <div id="right">
        <button id="sign-up">Sign Up</button>
        <div id="message"></div>
    </div>
</div>
<div id="description">
    <p>
        Think you have a good set of survival skills? Fancy yourself against 23 other blood thirsty tributes? Then this tournament is what you a looking for! 
        Minecraft Hunger Games is a survival-based minigame. 24 people go head to head in a wild and rugged map to compete to be the last man standing.
    </p>
</div>

<h1>Info</h1>
<div id="structure">
    <ul>
        <li>There will be 2 preliminary knock-out rounds of 24 max people each</li>
		<li>Round participants will be listed below around 30 minutes before the tournament starts</li>
		<li>The minecraft username you enter when you sign up is used to whitelist you on the servers, so type it in right</li>
		<li>Both preliminary rounds will run at the same time</li>
        <li>The top half of each knock-out will go into a final round</li>
        <li>The winners of each round will be announced on here</li>
    </ul>
</div>


<h1>Rounds</h1>
<div id="teams">
    
    <div class="team">
        <h2>Round 1 - glados.lsucs.org.uk</h2>
        <ul>
            <li>?</li>
        </ul>
    </div>
	
    <div class="team">
        <h2>Final - glados.lsucs.org.uk</h2>
        <ul>
            <li>?</li>
        </ul>
    </div>
    
    <div style="clear: both;"></div>

</div>