<div id="left">
    <div class="game"><a href="index.php?page=tournaments&action=tf2"><img src="images/tournaments/tf2.png" /></a></div>

    <div class="game"><a href="index.php?page=tournaments&action=minecraft"><img src="images/tournaments/minecraft.png" /></a></div>
    
    <div class="game"><a href="http://lsucs.org.uk/threads/fifa13-lan35.7056/"><img src="images/tournaments/fifa.png" /></a></div>
    
    <div class="game"><a href="index.php?page=info&action=achivements"><img src="images/tournaments/achievements.png" /></a></div>
</div>

<div id="right">
    <div class="game"><a href="http://lsucs.org.uk/threads/dota-2-lan35.6978/"><img src="images/tournaments/dota.png" /></a></div>

    <div class="game"><a href="index.php?page=tournaments&action=hungergames"><img src="images/tournaments/hungergames.png" /></a></div>

    <div class="game"><a href="index.php?page=info&action=quiz"><img src="images/tournaments/quiz.png" /></a></div>
</div>