<img id="head-image" src="images/tournaments/hungergames.png" />

<div id="main-info">
    <div id="left">
        <ul>
            <li><b>Sign-ups: </b>No sign-up required</li>
            <li><b>Tournament Start: </b>Sunday 1pm</li>
            <li><b>Tournament End: </b>Sunday 3pm</li>
            <li><b>First Place Prize: </b>Sweets + Raffle Ticket + Super Special Secret Prize!</li>
            <li><b>5 Runner-up Prizes: </b>Sweets</li>
            <li><b>Server: </b>glados.lsucs.org.uk</li>
            <li><b>YOU DONT NEED TO BE FUCKING WHITELISTED</b></li>
        </ul>
    </div>
</div>
<div id="description">
    <p>
        Think you have a good set of survival skills? Fancy yourself against 23 other blood thirsty tributes? Then this tournament is what you a looking for! 
        Minecraft Hunger Games is a survival-based minigame. 24 people go head to head in a wild and rugged map to compete to be the last man standing.
    </p>
</div>

<h1>Structure</h1>
<div id="structure">
    <ul>
        <li>There will be 2 preliminary knock-out rounds of 24 max people each</li>
        <li>The preliminary rounds are first come first play - if you don't get to play in the first, you can go in the second</li>
        <li>The top half of each knock-out will go into a final round</li>
        <li>The winners of each round will be announced on here</li>
    </ul>
</div>

<h1>how to downgrade</h1>
<ol>
    <li>Go to <a href="http://forkk.net/MultiMC4/">http://forkk.net/MultiMC4/</a> and download MultiMC</li>
    <li>Run MultiMC</li>
    <li>Add a new instance and call it whatever you want</li>
    <li>Select the instance, then hit downgrade</li>
    <li>Select 1.3.2 and hit ok</li>
    <li>Hit play, and go!</li>
</ol>


<h1>Round Winners</h1>
<div id="teams">
    
    <div class="team">
        <h2>Round 1 Top 12 (out of 24)</h2>
        <ul>
            <li>Shunt19</li>
            <li>icyminx</li>
            <li>Teronendum</li>
            <li>splid</li>
            <li>AngerJonny</li>
            <li>Littleish</li>
            <li>so_phi</li>
            <li>practisevoodoo</li>
            <li>SirBoldilox</li>
            <li>Random_B</li>
            <li>waspoe154</li>
            <li>danielfinnerty</li>
        </ul>
    </div>
    
    <div class="team">
        <h2>Round 2 Top 7 (out of 14)</h2>
        <ul>
            <li>Halimazeez</li>
            <li>Behomacotle</li>
            <li>explosivose</li>
            <li>KTC_UK</li>
            <li>ultramar</li>
            <li>ljsevern2</li>
            <li>ijakings</li>
        </ul>
    </div>
  
    <div class="team">
        <h2>Final Top 6</h2>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    
    <div style="clear: both;"></div>

</div>