<img id="head-image" src="images/tournaments/l4d2.png" />

<div id="main-info">
    <div id="left">
        <ul>
            <li><b>Sign-ups Close: </b>Saturday 11am</li>
            <li><b>Tournament Start: </b>Saturday 12pm</li>
            <li><b>Tournament End: </b>Saturday 5pm</li>
            <li><b>Team Sizes: </b>4v4</li>
            <li><b>Team Picking: </b>Sign up in groups or individually</li>
            <li><b>Prizes: </b>Hats + Medals + Sweets for first place, sweets for second and third</li>
        </ul>
    </div>
</div>
<div id="description">
    <p>
		L4D2 Versus Survival is our main FPS tournament at LAN37! Teams of 4 will take it in turns to survive the longest. The team with the longest time wins the round. To signup, either find a team or go on your own to an on duty committee member (find where they are <a href="index.php?page=whatson#rota">here</a>).
    </p>
</div>

<hr />

<div id="bracket">
    <h1>tournament Bracket</h1>

    <iframe src="http://challonge.com/lsucsl4d2/module?width=860&height=600" width="860" height="600" frameborder="0" scrolling="no" allowtransparency="true"></iframe>

    <hr />
</div>


<div id="servers">
    <h1>Match Servers</h1>
    <ul>
        <li><b>Match A: </b>Server ?</li>
        <li><b>Match B: </b>Server ?</li>
        <li><b>Match C: </b>Server ?</li>
        <li><b>Match D: </b>Server ?</li>
        <li><b>Match E: </b>Server ?</li>
        <li><b>Match F: </b>Server ?</li>
        <li><b>Match G: </b>Server ?</li>
        <li><b>Match H: </b>Server ?</li>
    </ul>
    
    <hr />
</div>


<div id="teams">
    <h1>Teams</h1>
    
    <div class="team">
        <h2>Team 1</h2>
        <ul>
            <li>?</li>
            <li>?</li>
            <li>?</li>
            <li>?</li>
            <li>?</li>
            <li>?</li>
        </ul>
    </div>
    
    <div style="clear: both;"></div>

    <hr />
</div>

