<img id="head-image" src="images/tournaments/tf2.png" />

<div id="main-info">
    <div id="left">
        <ul>
            <li><b>Sign-ups: </b>No sign-up required</li>
            <li><b>Tournament Start: </b>Sunday 1pm</li>
            <li><b>Tournament End: </b>Sunday 3pm</li>
            <li><b>First Place Prize: </b>Sweets + Raffle Ticket + Super Special Secret Prize!</li>
            <li><b>5 Runner-up Prizes: </b>Sweets</li>
        </ul>
    </div>
</div>
<div id="description">
    <p>
        Think you have a good set of survival skills? Fancy yourself against 23 other blood thirsty tributes? Then this tournament is what you a looking for! 
        Minecraft Hunger Games is a survival-based minigame. 24 people go head to head in a wild and rugged map to compete to be the last man standing.
    </p>
</div>

<h1>Structure</h1>
<div id="structure">
    <ul>
        <li>There will be 2 preliminary knock-out rounds of 24 people each</li>
        <li>The preliminary rounds are first come first play - if you don't get to play in the first, you can go in the second</li>
        <li>The top 12 of each knock-out will go into a final round</li>
        <li>If there aren't enough people to do a second round, the top 12 people of the first will go straight into a final</li>
        <li>The winners of each round will be announced on here</li>
    </ul>
</div>


<h1>Round Winners</h1>
<div id="teams">
    
    <div class="team">
        <h2>Round 1 Top 12</h2>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    
    <div class="team">
        <h2>Round 2 Top 12</h2>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
  
    <div class="team">
        <h2>Final Top 6</h2>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    
    <div style="clear: both;"></div>

</div>