<img id="head-image" src="images/tournaments/achievements.png" />

<div id="main-info">
    <div id="left">
        <ul>
            <li><b>10 Achievements: </b>Small bag of sweets</li>
            <li><b>20 Achievements: </b>Big bag of sweets</li>
            <li><b>25 Achievements: </b>Raffle ticket</li>
            <li><b>30 Achievements: </b>£20 voucher for Steam or KustomPC (first person only)</li>
        </ul>
    </div>
</div>
<div id="description">
    <p>
        For LAN35 we have created a LAN Achievement Sheet for everyone to have a go at filling out! You can find it in your welcome pack along with detailed instructions. Once you have completed an echievement, find a committee member
    </p>
</div>