#entry-table {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px #999;
    border-radius: 10px;
}
    #entry-table #table-head {
        height: 40px;
        line-height: 40px;
        border-radius: 10px 10px 0px 0px;
        border-bottom: 1px solid #bbb;
        background-image: url('../../images/table-head.png');
        background-repeat: repeat-x;
    }
    #entry-table #table-head span {
        display: block;
        float: left;
        border-right: 1px solid #bbb;
        text-align: center;
    }
    
    #entry-table .day {
        width: 100px;
    }
    #entry-table .start-time {
        width: 100px;
    }
    #entry-table .end-time {
        width: 100px;
    }
    #entry-table .title {
        width: 200px;
		overflow: hidden;
		height: 30px;
    }
    #entry-table .url {
        width: 210px;
    }
    #entry-table .colour {
        width: 80px;
    }
    #entry-table #table-head .colour {
        border-right: 0;
    }
    
    #entry-table .entry-row {
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
        #entry-table .entry-row span {
            display: block;
            float: left;
            margin-right: 1px;
        }
        #entry-table .odd {
            background-color: #FFF8F5;
        }
        #entry-table .entry-row:hover {
            background-color: #FFF3ED;
            cursor: pointer;
        }
        #entry-table .selected-row {
            background-color: #FFE2D6;
        }
        #entry-table .end-entry {
            border-radius: 0px 0px 10px 10px;
        }
    #entry-table .no-entries {
        text-align: center;
        height: 30px;
        line-height: 30px;
    }


#delete-entry {
    font-size: 14px;
    margin-top: 20px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#entry-form {
    width: 710px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
#add-button {
    display: block;
    font-size: 14px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}