#head-image {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#main-info {
    margin-top: 30px;
    height: 150px;
}
    #main-info #left {
        float: left;
    }
    #main-info #right {
        float: right;
    }
ul {
    margin-bottom: 20px;
}