<p>
    There is a dedicated room for sleeping at the LAN. This is the room underneath the balcony. We will do our best to ensure that it is quiet and all the lights are out in there from 1am every night.
    Before this there may be other activies still going on.
</p>
<p>
    We encourage people to bring airbeds and sleeping bags so you have an enjoyable nights rest. Please, however, do not blow up your airbed at 2am inside the sleeping room/just outside the door.
    Inflate it and set it up before-hand so you do not disturb other people.
</p>
<p>
    If you are going to try and sleep at your desk, please be considerate of others around - do not lie across 3 seats and go to sleep. You will be stopping someone from coming back to their computer.
    Expect to be woken up violently with a nerf gun if you do this!
</p>
<p>
    <b>Please Note:</b> The upstairs of the balcony is STRICTLY off limits with the exception of the laser tag game. You are NOT allowed to sleep up there.
</p>