<div id="map">
    <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps/ms?msa=0&amp;msid=206414075717289830038.0004caefff70bbd4aa86e&amp;ie=UTF8&amp;t=m&amp;ll=52.765307,-1.227143&amp;spn=0.003116,0.006866&amp;z=17&amp;output=embed"></iframe>
</div>

<h1>Arriving by Car</h1>
<p>
    The University has two main entrances - one off Epinal Way and the other off Ashby Road (M1). Please look at the map above to see how to get to the James France car parks from these entrances.
    When parking please attempt to use the main car park first since it is closer to the LAN entrance. Please note that the car park is the closest you can get for unloading - you cannot park your car outside the entrance to unload etc.
</p>
<p>
    Please note that there are barriers on the entrances to the University. Sometimes the security guards can be reluctant to let students onto campus.
    We advise that you tell them you are not a student to ensure they let you on. Make sure you get a coloured parking tag from them, not an unloading pass.
</p>
<hr />

<h1>Arriving by Train</h1>
<p>
    If you are coming by train, the station is a good 40 minute walk from James France Building. We recommend getting a taxi, especially if you have equipment with you.
</p>
<hr />

<h1>Entering the lan</h1>
<p>
    Please only use the main entrance marked on the map to enter and leave the lan. The rear entrance will be locked for security purposes. We advise signing in before bringing your equipment into the building otherwise you will have to queue up with your belongings to sign in.
</p>