<?php
    if ($DataBag["invalid"]) {
?>
    <div class="error-box">
        Invalid username/password! Please visit <a href="http://lsucs.org.uk">http://lsucs.org.uk</a> if you need to reset your password
    </div>
<?php
    }
?>

<div id="login-description">
    Please enter your LSUCS login details below. Not got an account? Please visit <a href="http://lsucs.org.uk">http://lsucs.org.uk</a> and create an account before attempting to sign in.
</div>

<form action="<?php echo LanWebsite_Main::buildUrl(false, 'account', 'authlogin'); ?>" method="post">
    <div id="textbox-container">
        <div>
            <span>Username:</span><input type="text" name="username" id="username" value="<?php echo $DataBag["username"]; ?>" />
        </div>
        <div>
            <span>Password:</span><input type="password" name="password" id="password" />
        </div>
    </div>
    <button id="login-button">Sign In</button>
</form>