<img id="head-image" src="images/tournaments/quiz.png" />

<div id="main-info">
    <div id="left">
        <ul>
            <li><b>When: </b>Saturday 9pm</li>
            <li><b>Where: </b>Sleeping Room</li>
            <li><b>Team Sizes: </b>Max of 8</li>
            <li><b>First Place Prize: </b>Sweets</li>
        </ul>
    </div>
</div>
<div id="description">
    <p>
        Our legendary pub quiz is a must for all attendees of the LAN! Packed full of both serious and fun questions, the quiz is always good fun. 
        If that isn't enough to convince you, we also have the Super Special Simon Round at the end which is guaranteed to test your film knowledge!
    </p>
</div>