#settings-container {
    margin-left: 40px;
}
    #settings-container h2 {
        font-family: reznor;
        color: #333;
        font-size: 28px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
#content p:not(.exclude) {
    margin-top: 0px;
    margin-bottom: 0px;
}
.setting {
    height: 30px;
    margin-bottom: 20px;
}
    .setting-label {
        display: block;
        float: left;
        width: 350px;
        line-height: 30px;
    }
    .setting-int {
        width: 50px;
    }
    .setting-text, .setting-email, .setting-ip, .setting-url {
        width: 200px;
    }
    .setting p label {
        position: relative;
        top: 9px;
        margin-left: 2px;
    }
    
#save-settings {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
}